<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Upload Dropzone</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker"><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
            <div class="card-header">
              <h6 class="card-title">ngx Dropzone</h6>
            </div>
            <div class="card-body">
	            <dropzone  class="dropzonewrap" [config]="config" [message]="'Drop here or click here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
        </div>
      </div>
    </div>
  </div>
  

