<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Form for Donation</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-body">
            <h5 class="m-0">Thank you for helping us!</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="row ">
                        <div class="col-lg-16 col-md-16 text-center">
                            <img src="assets/img/logo.png" alt="" width="300px"><br>
                            Reg. No. : IBMS0000215
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Email Phone</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Phone</label>
                                <input type="tel" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Amount</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label class="custom-control custom-checkbox" for="2c-option1">
                                    <input type="checkbox" class="custom-control-input"  id="2c-option1" checked>
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">I like to recieve Annual day tickets</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
          </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-success pull-right">Donate</button>
            </div>    
        </div>
      </div>
    </div>
  </div>