<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Google map</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Googlemap in card content</h5>
          </div>
          <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d563716.6066932946!2d71.15816776679326!3d21.84449158802279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1473003460875" height="600" style="border:0;width:100%" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-8">
        <div class="card bg-primary">
          <div class="card-header">
            <h5 class="card-title">Googlemap in colored card</h5>
          </div>
          <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d563716.6066932946!2d71.15816776679326!3d21.84449158802279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1473003460875" height="600" style="border:0;width:100%" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-8 p-0">
        <div class="card-body">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d563716.6066932946!2d71.15816776679326!3d21.84449158802279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1473003460875" height="690" style="border:0;width:100%" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>