<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Modals</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Modal Large + Dark</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"> Large Modal </button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Modal with inputs + Dark</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Inputs Modal </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Modal scrolling content</h6>
          </div>
          <div class="card-body"> 
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"> Long Modal </button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Modal</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@mdo">Open modal for @mdo</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@fat">Open modal for @fat</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

