<div id="page-wrapper" class="fullscreenmap" style="min-height: 899px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d563716.6066932946!2d71.15816776679326!3d21.84449158802279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1473003460875" style="border: 0px; height: 100%; width:100%" allowfullscreen=""></iframe>
    
    <!-- /#page-wrapper --> 
  </div>