<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-8 col-sm-10 page-title">
        <h3>Image Gallery</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
        <ul class="nav nav-pills pull-right ml-2" role="tablist">
          <li class="nav-item" role="presentation"><a href="javascript:void(0)" class="grid-panel nav-link galleryone"><i class="fa fa-bars"></i></a></li>
          <li class="nav-item active" role="presentation"><a href="javascript:void(0)" class="grid-panel nav-link active gallerytwo"><i class="fa fa-th-large"></i></a></li>
          <li class="nav-item" role="presentation"><a href="javascript:void(0)" class="grid-panel nav-link gallerythree"><i class="fa fa-th"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="row">
          <div class=" grid two">
            <div class="grid-item"><a href="assets/img/project_pic.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic1.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic1.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic2.jpg"  rel="gallery-1"  class="swipebox" title="My Caption"> <img src="assets/img/project_pic2.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic3.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic3.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic1.jpg" rel="gallery-1"  class="swipebox" title="My Caption"> <img src="assets/img/project_pic1.jpg" alt="image"> </a> </div>
            <div class="grid-item"><a href="assets/img/project_pic2.jpg"  rel="gallery-1"  class="swipebox" title="My Caption"> <img src="assets/img/project_pic2.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic3.jpg"  rel="gallery-1"  class="swipebox" title="My Caption"> <img src="assets/img/project_pic3.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic1.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic1.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic.jpg" alt="image"> </a></div>
            <div class="grid-item"><a href="assets/img/project_pic2.jpg" rel="gallery-1"  class="swipebox" title="My Caption"> <img src="assets/img/project_pic2.jpg" alt="image"> </a> </div>
            <div class="grid-item"><a href="assets/img/project_pic3.jpg" rel="gallery-1" class="swipebox" title="My Caption"> <img src="assets/img/project_pic3.jpg" alt="image"> </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>