<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Product name/title </h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16">
        <div class="card product ">
          <div class="card-body">
            <div class="row">
              <div class="col-md-16 col-sm-16 col-lg-8 col-xl-8">
                <div class="flexslider m-0">
                  <ul class="slides">
                    <li data-thumb="assets/img/product1.jpg"> <img src="assets/img/product1.jpg" alt=""> </li>
                    <li data-thumb="assets/img/product2.jpg"> <img src="assets/img/product2.jpg" alt=""> </li>
                    <li data-thumb="assets/img/product3.jpg"> <img src="assets/img/product3.jpg" alt=""> </li>
                    <li data-thumb="assets/img/product4.jpg"> <img src="assets/img/product4.jpg" alt=""> </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-16 col-sm-16 col-lg-8 col-xl-8">
                <p><span class="badge badge-danger">New</span></p>
                <h2 class="card-title">Product name/title </h2>
                <h3 class="display-4">$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
                <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                <hr>
                <p class="card-text">Some quick example text for product description.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut .</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <form class="form-inline">
                      <label class="" >Color</label>
                      <select class="form-control ml-2">
                        <option>Red</option>
                        <option>Yellow</option>
                        <option>Green</option>
                      </select>
                    </form>
                  </li>
                  <li class="list-group-item">
                    <button class=" btn-outline-primary mr-1">S</button>
                    <button class=" btn-outline-primary mr-1 active">M</button>
                    <button class=" btn-outline-primary mr-1">L</button>
                    <button class=" btn-outline-primary mr-1 disabled" disabled>XL</button>
                  </li>
                </ul>
                <div class="card-body justify-content-between d-flex pl-0"> <a href="#" class="btn btn-lg btn-success">Add to cart</a> <a href="#" class="btn btn-link  text-danger"><i class="fa fa-heart-o "></i> Add to favorite</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 col-sm-16 col-lg-8 col-xl-8">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#information" role="tab">Information</a> </li>
          <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#technical_details" role="tab">Technical Specs</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Quality" role="tab">Quality</a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Shipping-payment" role="tab">Shipping/Payment</a> </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="information" role="tabpanel">
            <h4 class="">Product information</h4>
            Pellentesque eleifendLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem <br>
            <br>
            ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend <br>
            <br>
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <p class="mb-0"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed "> Collapsible Group Item #1 </a> </p>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Collapsible Group Item #2 </a> </p>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Collapsible Group Item #3 </a> </p>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="technical_details" role="tabpanel">
            <h4 class="text-white">Windows</h4>
            <ul>
              <li>2.33GHz or faster x86-compatible processor, or Intel Atom™ 1.6GHz or faster processor for netbook class devices</li>
              <li>Microsoft® Windows Server 2008, Windows 7, Windows 8.1 Classic or Windows 10</li>
              <li>512MB of RAM (1GB recommended)</li>
              <li>AIR SDK Development Supports Microsoft® Windows 7 and above, 64-bit only</li>
            </ul>
            <h4 class="text-white">Mac OS</h4>
            <ul>
              <li>Intel® Core™ Duo 1.83GHz or faster processor</li>
              <li>Mac OS X v10.7, and above </li>
              <li>512MB of RAM (1GB recommended)</li>
              <li>AIR SDK Development supports Mac OS 10.9 and above, 64bit only</li>
            </ul>
            <h4 class="text-white">Android</h4>
            <ul>
              <li>ARMv7/x86 processor with vector FPU, minimum 550MHz, OpenGL ES 2.0, H.264 and AAC HW decoders</li>
              <li>Android™ 4.0 and above</li>
            </ul>
            <h4 class="text-white">iOS</h4>
            <ul>
              <li>iOS 8 and above</li>
            </ul>
          </div>
          <div class="tab-pane " id="Quality" role="tabpanel"> 3 </div>
          <div class="tab-pane" id="Shipping-payment" role="tabpanel"> 4 </div>
        </div>
      </div>
      <div class="col-md-16 col-sm-16 col-lg-8 col-xl-8">
        <div class="list-unstyled comment-list" style="height:650px;">
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-warning"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
          <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
              <h5 class="text-success"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>&nbsp;</h5>
              <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-16">
        <p class="page_subtitles">Related Recommended Products</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-lg-8 col-xl-4">
        <div class="card product">
          <label class="ribbon top-left danger mt-2"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><img class="" src="assets/img/product1.jpg" alt=""></figure>
          <div class="card-body">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1 active">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8 col-xl-4">
        <div class="card product">
          <label class="ribbon top-left danger mt-2"><span class="fa fa-star"></span></label>
          <figure class="product_img  align-items-center justify-content-between d-flex"><img class="" src="assets/img/product6.jpg" alt=""></figure>
          <div class="card-body">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1 active">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><img class="" src="assets/img/product5.jpg" alt=""></figure>
          <div class="card-body">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart text-danger pull-right"></i></h5>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-lg-8 col-xl-4">
        <div class="card product">
          <figure class="product_img  align-items-center justify-content-between d-flex"><img class="" src="assets/img/product4.jpg" alt=""></figure>
          <div class="card-body">
            <h5 class="card-title text-white">Product name/title <i class="fa fa-heart-o text-danger pull-right"></i></h5>
            <h3>$ 204 <small class="text-danger"><s>$ 250</s></small></h3>
            <p class="card-text">Some quick example text for product description.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <button class=" btn-outline-primary mr-1">S</button>
              <button class=" btn-outline-primary mr-1">M</button>
              <button class=" btn-outline-primary mr-1">L</button>
              <button class=" btn-outline-primary mr-1">XL</button>
            </li>
          </ul>
          <div class="card-body justify-content-between d-flex"> <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-link ">View More</a> </div>
        </div>
      </div>
    </div>
  </div>