<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Form Credit Card</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-body">
            <h5 class="m-0">Form Credit Card </h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10  col-lg-6 form-signin1 white mt-0">
                    
                    <div class="row ">
                        <div class="col-lg-16 col-md-16 text-center">
                            <img src="assets/img/logo+dark.png" alt="" width="300px">
                            <br>
                           
                        </div>
                        
                    </div>
                    <br>
                    <hr>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Card holder Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Card Number</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group ">
                                <label>Expiry Date</label>
                                <select class="form-control" >
                                    <option>Jan</option>
                                    <option>Fab</option>
                                    <option>Mar</option>
                                    <option>Apr</option>
                                    <option>May</option>
                                    <option>Jun</option>
                                    <option>Jul</option>
                                    <option>Aug</option>
                                    <option>Sep</option>
                                    <option>Oct</option>
                                    <option>Nov</option>
                                    <option>Dec</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group ">
                                <label>&nbsp;</label>
                                <select class="form-control" >
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                    <option>2024</option>
                                    <option>2025</option>
                                    <option>2026</option>
                                    <option>2027</option>
                                    <option>2028</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group ">
                                <label>CVV</label>
                                <input class="form-control" placeholder="CVV" >
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
          </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-success pull-right">Submit</button>
            </div>    
        </div>
      </div>
    </div>
  </div>