<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Dragable Sortable</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>

    <div class="row" id="multi">
      <div class="col-md-16"><div class="page_subtitles">ngx-bootstrap sorting</div></div>
      <div class="col-sm-8 tile">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Multiple Block A</h6>
          </div>
            <div class="card-body">  
                <div class="list-group">
	                <bs-sortable
				      [(ngModel)]="itemStringsLeft"
				      itemClass="sortable-item list-group-item"
				      itemActiveClass="sortable-item-active"
				      placeholderItem="Drag here"
				      placeholderClass="placeholderStyle"
				      wrapperClass="sortable-wrapper"
				    ></bs-sortable>
			    </div>
            </div>
        </div>
      </div>
        <div class="col-sm-8 tile">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title">Multiple Block B</h6>
              </div>
                <div class="card-body">  
	                <div class="list-group">
	                    <bs-sortable
					      [(ngModel)]="itemStringsRight"
					      itemClass="sortable-item list-group-item"
					      itemActiveClass="sortable-item-active"
					      placeholderItem="Drag here"
					      placeholderClass="sortable-item"
					      wrapperClass="sortable-wrapper"
					    ></bs-sortable>
				    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>