<div class="row">
    <div class="col-sm-16 gradient p-1"></div>
  </div>
  <figure class="background"><img src="assets/img/error.png" alt=""></figure>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 ">
        <form class="form-signin1 smallbox text-left status-danger ">
          <h1 class="display-1 text-danger mt-0"><strong>404</strong></h1>
          <h3 class="text-danger">Page not found</h3>
          <p class="">Sorry! There might be some error on this page...</p>
          <a href="index.html" class="btn btn-lg btn-primary btn-round">Go back to Home</a>
          <div class="clearfix"></div>
          <br>
          <br>
          <p class="lead">Stay connected, Subscribe us</p>
          <div class="input-group subscribe justify-content-center">
            <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
            <button class="input-group-addon btn btn-outline-primary btn-round text-white" id="basic-addon2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>