<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Form Employee Review</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-body">
            <h5 class="m-0">Form Employee Review</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Phone</label>
                                <input type="tel" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Current Date</label>
                                <div class="input-group">
                                  <input type="text" class="form-control datepicker" aria-label="" placeholder="Today's Date">
                                  <button class="input-group-addon"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Joining Date</label>
                                <div class="input-group">
                                  <input type="text" class="form-control datepicker" aria-label="" placeholder="Date of Joining">
                                  <button class="input-group-addon"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Employee's Title</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Employee's Department</label>
                                <select class="form-control">
                                    <option>IT</option>
                                    <option>Engineering</option>
                                    <option>Networking</option>
                                    <option>Human Resource</option>
                                    <option>Administrative</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Perrformance Evalution</label>
                                <table class="table table-striped table-bordered table-hover">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Presence</th>
                                      <th>Skills</th>
                                      <th>Sharing Knowledge</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>Presence</th>
                                      <td>
                                          <label class="custom-control custom-radio" for="option1">
                                            <input type="radio" class="custom-control-input" name="radio1" id="option1" value="option1" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Good</span>
                                          </label>
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option2">
                                            <input type="radio" class="custom-control-input" name="radio1" id="option2" value="option2" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Poor</span>
                                          </label>  
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option3">
                                            <input type="radio" class="custom-control-input" name="radio1" id="option3" value="option3" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Very Poor</span>
                                          </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>Skills</th>
                                      <td>
                                          <label class="custom-control custom-radio" for="option4">
                                            <input type="radio" class="custom-control-input" name="radio2" id="option4" value="option4" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Good</span>
                                          </label>
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option5">
                                            <input type="radio" class="custom-control-input" name="radio2" id="option5" value="option5" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Poor</span>
                                          </label>  
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option6">
                                            <input type="radio" class="custom-control-input" name="radio2" id="option6" value="option6" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Very Poor</span>
                                          </label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>Sharing Knowledge</th>
                                      <td>
                                          <label class="custom-control custom-radio" for="option7">
                                            <input type="radio" class="custom-control-input" name="radio3" id="option7" value="option7" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Good</span>
                                          </label>
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option8">
                                            <input type="radio" class="custom-control-input" name="radio3" id="option8" value="option8" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Poor</span>
                                          </label>  
                                      </td>
                                      <td>
                                          <label class="custom-control custom-radio" for="option9">
                                            <input type="radio" class="custom-control-input" name="radio3" id="option9" value="option9" >
                                            <span class="custom-control-indicator"></span> 
                                              <span class="custom-control-description">Very Poor</span>
                                          </label>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Employee's Performance rank</label>
                                <div class="">
                                    <label class="custom-control custom-radio" for="rank1">
                                        <input type="radio" class="custom-control-input" name="rank" id="rank1" value="" >
                                        <span class="custom-control-indicator"></span> 
                                        <span class="custom-control-description">Very Good</span>
                                    </label> 
                                    <label class="custom-control custom-radio" for="rank2">
                                        <input type="radio" class="custom-control-input" name="rank" id="rank2" value="" >
                                        <span class="custom-control-indicator"></span> 
                                        <span class="custom-control-description">Good</span>
                                    </label> 
                                    <label class="custom-control custom-radio" for="rank3">
                                        <input type="radio" class="custom-control-input" name="rank" id="rank3" value="" >
                                        <span class="custom-control-indicator"></span> 
                                        <span class="custom-control-description">Poor</span>
                                    </label> 
                                    <label class="custom-control custom-radio" for="rank4">
                                        <input type="radio" class="custom-control-input" name="rank" id="rank4" value="" >
                                        <span class="custom-control-indicator"></span> 
                                        <span class="custom-control-description">Very Poor</span>
                                    </label> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Personal Feedback</label>
                                <textarea type="text" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>Supervisor' Name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group ">
                                <label>&nbsp;</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
          </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-success pull-right">Submit</button>
            </div>    
        </div>
      </div>
    </div>
  </div>