<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  <div class="col"></div>
  <div class="pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in pb-0">
  <div class="container text-left">
    <h2 class="display-4 form-signin-heading text-white text-center"><i class="fa fa-trophy"></i> Adminux</h2>
    <div class="col-lg-10 col-md-12 m-auto mt-4">
      <div class="row">
        <div class="col-md-8  text-white">
          <div class="wrapper-content-sign-in"> <br>
            <h2 >Hello,<br>
              Welcome</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elit dolor, tempor quis leo venenatis, malesuada mollis arcu. Cras nec commodo sapien, in congue est. Curabitur tincidunt tortor nec purus elementum gravida. Nunc auctor non nunc ut ullamcorper. Proin nec sagitti.</p>
          </div>
          <figure class="background"> <img src="assets/img/project_pic.jpg" alt="Adminux- sign in "> </figure>
        </div>
        <form class="form-signin1 white side col-md-8 mt-0">
          <h2 class="tex-black mb-4">Sign Up</h2>
          <label  class="sr-only">Name</label>
          <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Name" >
          </div>
          <br>
          <label  class="sr-only">User name</label>
          <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Username" >
          </div>
          <br>
          <label  class="sr-only">Email address</label>
          <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Email address" >
          </div>
          <br>
          <label class="sr-only">Password</label>
          <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Paassword" >
          </div>
          <br>
          <label class="sr-only">Confirm Password</label>
          <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" placeholder="Confirm Paassword" >
          </div>
          <br>
          <div class="checkbox">
            <label class="form-check-label active">
              <input type="checkbox" class="form-check-input">
              <i class="fa fa-check"></i></label>
            Remember me </div>
          <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Sign Up</a> <br>
          <br>
          <p class="mt-3"><a href="#">Sign in here!</a> <a href="" class="pull-right">Forgot password?</a></p>
        </form>
      </div>
    </div>
    <br>
    <br>
    <div class="row  justify-content-between align-items-center text-center">
      <div class="col-sm-16">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
      <div class="col-sm-16"><a href="#" target="_blank" class="">Privacy Policy</a> | <a href="#" target="_blank" class="">Terms of use</a> </div>
    </div>
  </div>
</div>