<div class="background"><img src="assets/img/comingsoon.png" alt=""></div>
<div class="container-fluid"> <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-7 col-md-10 offset-lg-9 ml-md-auto  mt-4 text-center status-success">
      <div class="row">
        <form class="form-signin col-sm-16 text-center p-3">
          <h2 class="display-4">Coming Soon</h2>
          <br>
          <br>
          <h3 class="text-white"> <span id="timer"></span>&nbsp;</h3>
          <h2 class="text-primary">We will live soon...</h2>
          <br>
          <br>
          <br>
          <p>Stay connected, Subscribe us</p>
          <div class="input-group subscribe justify-content-center">
            <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
            <button class="input-group-addon btn text-white" id="basic-addon2">Subscribe</button>
          </div>
          <br>
          <br>
          <div class="align-content-center  justify-content-center d-flex">
            <ul class="nav ">
              <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
