<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Buttons</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Button with filled colors</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Buttons with outline</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Large and Small buttons</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm">Small button</button>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Checkbox Buttons</h6>
          </div>
          <div class="card-body">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="checkbox" checked >
                Checkbox 1 (pre-checked) </label>
              <label class="btn btn-primary">
                <input type="checkbox" >
                Checkbox 2 </label>
              <label class="btn btn-primary">
                <input type="checkbox">
                Checkbox 3 </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Radio Buttons</h6>
          </div>
          <div class="card-body">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1"  checked>
                Radio 1 (preselected) </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" >
                Radio 2 </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" >
                Radio 3 </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>