<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Social Dashboard</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card full-screen-container ">
          <div class="card-body p-0">
            <div class="list-unstyled comment-list p-0">
              <div class="media comment"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <textarea rows="5" class="form-control" placeholder="Whats in your mind..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer justify-content-between d-flex">
            <ul class="nav pull-left">
              <li class="nav-item">
                <button class="btn btn-link mr-2"><i class="fa fa-picture-o"></i> <span class="text">Photo</span></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-link mr-2"><i class="fa fa-video-camera "></i> <span class="text">Video</span></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-link mr-2"><i class="fa fa-map-marker "></i> <span class="text">Location</span></button>
              </li>
              <li class="nav-item">
                <button class="btn btn-link text-primary mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe "></i> <span class="text">Public</span></button>
                <div class="dropdown-menu with-arrow text-center"> <a class="dropdown-item" href="#">Public</a> <a class="dropdown-item" href="#">Private</a> </div>
              </li>
            </ul>
            <button class="btn btn-primary ">Post</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-11">
        <div class="card ">
          <div class="card-header align-items-start justify-content-between flex">
            <div class="list-unstyled comment-list">
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">Rahul Akshay</a> shared <a href="#">Maxartkiller's</a> post</h6>
                  2:00 pm, 20 January, 2017 </div>
                <ul class="nav  card-header-pills pull-right">
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Hide this post</a> <a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Delete</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Report</a> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more business orders.</p>
            <div class="row">
              <figure class="responsive-img col"> <a href="assets/img/post_pic.jpg" rel="gallery-1" class="swipebox" title="My Caption"><img src="assets/img/post_pic.jpg" alt="post picture"></a> </figure>
            </div>
            <div class="col post-options">
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-heart-o text-danger"></i> <span class="text">Like</span> <span class="">(35)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-comments text-warning"></i> <span class="text">Comment</span> <span class="">(6)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i> <span class="text">Share</span> <span class="">(10)</span></button>
            </div>
            <div class="list-unstyled comment-list">
              <div class="media comment"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <input type="text" class="form-control" placeholder="Write comment">
                </div>
                <button class="btn btn-primary">Comment</button>
              </div>
              <hr >
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                  <button class="btn btn-outline-primary btn-round mr-2">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center"> <a href="#" >View all 10+ comments</a> </div>
        </div>
        <div class="card ">
          <div class="card-header align-items-start justify-content-between flex">
            <div class="list-unstyled comment-list">
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">Rahul Akshay</a> shared <a href="#">Maxartkiller's</a> post</h6>
                  2:00 pm, 20 January, 2017 </div>
                <ul class="nav  card-header-pills pull-right">
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Hide this post</a> <a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Delete</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Report</a> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more business orders.</p>
            <div class="row">
              <figure class="responsive-img col"> <a href="assets/img/project_pic3.jpg" rel="gallery-2" class="swipebox" title="My Caption"><img src="assets/img/project_pic3.jpg" alt="post picture"></a> </figure>
              <figure class="responsive-img col"> <a href="assets/img/project_pic1.jpg" rel="gallery-2" class="swipebox" title="My Caption"><img src="assets/img/project_pic1.jpg" alt="post picture"></a> </figure>
            </div>
            <div class="col post-options">
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-heart-o text-danger"></i> <span class="text">Like</span> <span class="">(35)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-comments text-warning"></i> <span class="text">Comment</span> <span class="">(6)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i> <span class="text">Share</span> <span class="">(10)</span></button>
            </div>
            <div class="list-unstyled comment-list">
              <div class="media comment"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <input type="text" class="form-control" placeholder="Write comment">
                </div>
                <button class="btn btn-primary">Comment</button>
              </div>
              <hr >
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card-header align-items-start justify-content-between flex">
            <div class="list-unstyled comment-list">
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">Rahul Akshay</a> shared <a href="#">Maxartkiller's</a> post</h6>
                  2:00 pm, 20 January, 2017 </div>
                <ul class="nav  card-header-pills pull-right">
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Hide this post</a> <a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Delete</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Report</a> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more business orders.</p>
            <div class="col post-options">
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-heart-o text-danger"></i> <span class="text">Like</span> <span class="">(35)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-comments text-warning"></i> <span class="text">Comment</span> <span class="">(6)</span></button>
              <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i> <span class="text">Share</span> <span class="">(10)</span></button>
            </div>
            <div class="list-unstyled comment-list">
              <div class="media comment"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <input type="text" class="form-control" placeholder="Write comment">
                </div>
                <button class="btn btn-primary">Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-5"> <br>
        <div class="list-unstyled member-list row">
          <div class="col-lg col-xs-16 "> <span class="page_subtitles">Featured Profile <a href="" >View all</a> </span>
            <div class="media flex-column ">
              <figure class="background"><img class="d-flex" src="assets/img/team.png" alt="Generic user image"></figure>
              <span class="message_userpic large"><img class="d-flex" src="assets/img/team.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
              <div class="media-body">
                <h6 class="mt-0 mb-1">Astha Smith</h6>
                New Jersey, UK<br>
                <br>
                <div class="row  followers">
                  <div class="col">
                    <h4>2.8 k <br>
                      <small>Followers</small></h4>
                  </div>
                  <div class="col">
                    <h4>5.6 k <br>
                      <small>Tweets</small></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <ul class="nav flex-column mt-2">
          <li ><span class="page_subtitles">Latest News <a href="" >View all</a> </span>
            <ul class="nav pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Close this</a> <a class="dropdown-item" href="#">Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Select Choice</a> </div>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="list-unstyled comment-list">
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <hr>
        <div class="list-unstyled project-list row">
          <div class="col-16">
            <div class="media flex-column "> <span class="projectpic"><img src="assets/img/project_pic.jpg" alt="Generic user image"> <span class="user-status bg-success "></span></span>
              <div class="overlay ">
                <label class="ribbon left danger"><span>Maxartkiller</span></label>
                <h6 class="mt-0 mb-1">Website Design</h6>
                2017 <br>
                <br>
                <a href="#" class="btn btn-outline-white btn-round "><i class="fa fa-eye"></i>View </a> </div>
            </div>
          </div>
        </div>
        <hr>
        <ul class="nav flex-column mt-2">
          <li ><span class="page_subtitles">Latest Comments <a href="" >View all</a> </span>
            <ul class="nav pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Close this</a> <a class="dropdown-item" href="#">Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Select Choice</a> </div>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="list-unstyled comment-list">
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                  <button class="btn btn-outline-primary btn-round mr-2">Delete</button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery and product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                  <button class="btn btn-outline-primary btn-round mr-2">Delete</button>
                </div>
              </div>
              <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                  <p class="description">This is awesome product and, I am very happy with delivery  product packaging. Overall experience is good and I prefer to buy it again from this portals and like more orders.</p>
                  <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                  <button class="btn btn-outline-primary btn-round mr-2">Delete</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <hr>
        <ul class="nav flex-column mt-2">
          <li ><span class="page_subtitles">Tasks Assigned <a href="" >View all</a> </span>
            <ul class="nav pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                <div class="dropdown-menu"> <a class="dropdown-item" href="#">Close this</a> <a class="dropdown-item" href="#">Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Select Choice</a> </div>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <div class="list-unstyled comment-list" style="height:400px;">
              <div class="media">
                <label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Meeting with HODs and boards<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media"> 
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
				
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Presentation on target of 2017 order and sales marketing<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media active">
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Strategy building on worlds health and consult organizations<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media active"> 
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Meeting with HODs and boards<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media"> 
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>				
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Presentation on target of 2017 order and sales marketing<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media active"> 
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Strategy building on worlds health and consult organizations<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
              <div class="media"> 
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <span class="custom-control-indicator"></span>
				  <span class="custom-control-description"></span>
				</label>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">Meeting with HODs and boards<small class="pull-right"></small></h6>
                  2:00 pm, 20 January, 2017 </div>
              </div>
            </div>
          </li>
        </ul>
        <hr>
        <ul class="nav flex-column ">
          <li class="page_subtitles text-center">Advertising space</li>
          <li class="nav-item">
            <div class="list-unstyled"> <a href="http://www.maxartkiller.in" target="_blank" class="media text-center"> <span class="col text-center"><img class="" src="assets/img/advertise_maxartkiller_ui-ux.png" alt="advertise maxartkiller ui ux creative design"></span> <br>
              </a> </div>
            <a href="http://www.maxartkiller.in" target="_blank" class="nav-link text-center">www.maxartkiller.in</a> </li>
        </ul>
      </div>
    </div>
  </div>