<figure class="background"> <img src="assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure>
<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  <div class="col"></div>
  <div class="pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in p-0">
  <div class="col-md-8 m-auto text-left side_signing_full">
    <form class="form-signin1 full_side text-white ">
      <h2 class=" mb-4">Sign in</h2>
      <label  class="sr-only">Email address</label>
      <input type="text" class="form-control" placeholder="Email address" >
      <br>
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Paassword" >
      <br>
      <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Sign in</a> <br>
      <br>
      <p class="mt-3"><a href="#" class="text-white">Signup here!</a> <br>
        <a href="" class="">Forgot password?</a></p>
    </form>
    <br>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-8 text-right"><a href="#" target="_blank" class="text-white">Privacy Policy</a> | <a href="#" target="_blank" class="text-white">Terms of use</a> </div>
  </footer>
</div>