<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Blank Default page</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-10">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small>jVectormap</small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap light" id="mapasiawrap" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small>jVectormap </small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap" id="mapwrap2" ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small>jVectormap</small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap light" id="mapafricawrap" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-10">
        <div class="card bg-success">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small class="text-white">jVectormap </small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap" id="mapwrap" ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-8">
        <div class="card bg-warning">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small class="text-white">jVectormap</small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap" id="mapusawrap" ></div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-8">
        <div class="card bg-primary">
          <div class="card-header">
            <h5 class="card-title  pull-left">Map world <small class="text-white">jVectormap </small></h5>
          </div>
          <div class="card-body">
            <div class="worldmap " id="mapindiawrap" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>