<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Order Status</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Order Status <small>Pending Delivery</small></h5>
          </div>
          <div class="card-body">
            <table class="table " id="dataTables-example">
              <thead>
                <tr>
                  <th>Product </th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Quantity</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td><img src="assets/img/product1.jpg" alt="" class="gridpic">Strobarry milk</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Paid</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product2.jpg" alt="" class="gridpic">Fruite Strabbery</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status success">Paid</span></td>
                </tr>
                <tr class="odd">
                  <td><img src="assets/img/product3.jpg" alt="" class="gridpic">Chocalate Milk</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">10</td>
                  <td class="center"><span class="status success">Paid</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product4.jpg" alt="" class="gridpic">Red Wines</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">19</td>
                  <td class="center"><span class="status success">Paid</span></td>
                </tr>
                <tr class="odd">
                  <td><img src="assets/img/product5.jpg" alt="" class="gridpic">Bowls large small</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">40</td>
                  <td class="center"><span class="status success">Paid</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product6.jpg" alt="" class="gridpic">Art wall</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">18</td>
                  <td class="center"><span class="status danger">Unpaid</span></td>
                </tr>
                <tr class="odd">
                  <td><img src="assets/img/product1.jpg" alt="" class="gridpic">Rose milk</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">17</td>
                  <td class="center"><span class="status danger">Unpaid</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product2.jpg" alt="" class="gridpic">Straberry Fruite</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status danger">Unpaid</span></td>
                </tr>
                <tr class="odd">
                  <td><img src="assets/img/product3.jpg" alt="" class="gridpic">Cocalate Shake</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">20</td>
                  <td class="center"><span class="status warning">Proccessing</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product4.jpg" alt="" class="gridpic">Red wine cocktail</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status warning">Proccessing</span></td>
                </tr>
                <tr class="odd">
                  <td><img src="assets/img/product5.jpg" alt="" class="gridpic">Bowl large small</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">15</td>
                  <td class="center"><span class="status primary">Ordered</span></td>
                </tr>
                <tr class="even ">
                  <td><img src="assets/img/product6.jpg" alt="" class="gridpic">Art wall</td>
                  <td>info@maxartkiller.in</td>
                  <td>+91 000 000 0000</td>
                  <td class="center">50</td>
                  <td class="center"><span class="status primary">Ordered</span></td>
                </tr>
              </tbody>
            </table>
            <!-- /.table-responsive --> 
          </div>
        </div>
      </div>
    </div>
  </div>