<figure class="background_small"> <img src="assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure>

<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  <div class="col"></div>
  <div class="pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <h2 class="display-4 form-signin-heading text-white"><i class="fa fa-trophy"></i> Adminux</h2>
    <form class="form-signin1 white">
      <h2 class="text-dark mb-4">Reset Password</h2>
      <label  class="sr-only">Email address</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Registered Email" >
      </div>
      <br>
      <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Reset</a><br>
    </form>
    <p class="mt-3">Already have password? <a href="#" class="text-white">Signin here</a>!</p>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-8 text-right"><a href="#" target="_blank" class="">Privacy Policy</a> | <a href="#" target="_blank" class="">Terms of use</a> </div>
  </footer>
</div>