<figure class="background"> <img src="assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure>
<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="">  <a class="navbar-brand imglogo" routerLink="/dashboard/manufacture" ></a> </div>
  <div class="col"></div>
  <div class="pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="javascript:void(0);" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="javascript:void(0);" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <h2 class="display-4 form-signin-heading text-white"><i class="fa fa-trophy"></i> Adminux</h2>
    <form class="form-signin1 white">
      <h2 class="text-dark mb-4">Sign in</h2>
      <label  class="sr-only">Email address</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control"  placeholder="Email address" >
      </div>
      <br>
      <label class="sr-only">Password</label>
      <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Paassword" >
      </div>
      <br>
      <label class="custom-control custom-checkbox">
		  <input type="checkbox" class="custom-control-input">
		  <span class="custom-control-indicator"></span>
		  <span class="custom-control-description"> Remember Me</span>
		</label>
		<br>
      <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Sign in</a><br>
      <a routerLink="/forgotpassword" class="btn btn-link mt-2 ">Forgot password?</a>
    </form>
    <p class="mt-3">Dont have account yet? <a routerLink="/signup" class="text-white">Signup here</a>!</p>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-6">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-6 text-right"><a routerLink=""  target="_blank" class="">Privacy Policy</a> | <a routerLink=""  class="">Terms of use</a> </div>
  </footer>
</div>


