
	<div class="card-body">
		<ul class="chat" style="max-height:640px;">
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="left clearfix"> <span class="chat-img pull-left"> <img src="assets/img/team.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <strong class="primary-font">John Smith</strong> <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                      <li class="right clearfix"> <span class="chat-img pull-right"> <img src="assets/img/user-header.png" alt="User Avatar" class="img-circle"> </span>
                        <div class="chat-body clearfix">
                          <div class="header"> <small class=" text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small> <strong class="pull-right primary-font">You</strong> </div>
                          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                        </div>
                      </li>
                    </ul>
	</div>
	<!-- /.card-body -->
	<div class="card-footer">
		<div class="input-group">
             <button class="input-group-addon "><i class="fa fa-smile-o"></i></button>
             <input type="text" class="form-control" placeholder="Your message">                            
             <button class="input-group-addon bg-primary">Send</button>
        </div>
	</div>
	<!-- /.card-footer -->
