<div style="display: block;">
<canvas baseChart height="125"    [datasets]="lineChartData"   [labels]="lineChartLabels" [options]="lineChartOptions"  [colors]="lineChartColors" [legend]="lineChartLegend"     [chartType]="lineChartType">
</canvas>
</div>