<div class="row  align-items-center justify-content-between">
  <div class="col-4">
    <div class="form-group">
      <label for="exampleSelect1">Category 1</label>
      <select class="form-control" [(ngModel)]='Category1' id="exampleSelect1">
        <option>Cengkeh</option>
        <option>Jambu</option>
        <option>Kakao</option>        
      </select>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="exampleSelect1">Category 2</label>
      <select class="form-control" [(ngModel)]='Category2' id="exampleSelect1">
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>        
      </select>
    </div>
  </div>
  <div class="col-8"><button (click)="reload()" class="btn btn-primary" style="margin-top: 15px;">OK</button></div>
  <div class="col-8">
    <iframe id="iframe-id1" style="width: 100%;" [src]="dashboardUrl1 | safe" frameborder="0" height="500"
      allowtransparency></iframe>
  </div>
  <div class="col-8">
    <iframe id="iframe-id2" style="width: 100%;" [src]="dashboardUrl2 | safe" frameborder="0" height="500"
      allowtransparency></iframe>
  </div>
</div>