<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Creativity with wide streamed internet websites.</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="col-sm-16">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">               
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <hr>
                <p> Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. <br>
                In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things. </p>
                  <br>
                  <h3 class="">How to be creative?</h3>
                  <p> As per my experience and experiment with few people, Creativity never goes hand to hand. Creativity is natural flow in few people who continues grows up with creative environment, who do creative experiments, who do everything in focused manner.</p>
                  <h4>We can change and improve creative thought process by taking care of following points:</h4>
                  <p> <b>Inspiration:</b> Get and finalize inspirational resources from which you will get inspired continues each and everyday<br>
                    <b>Knowledge: </b>Subject and filed of your creativity is the most sensitive key points, Get whole courage of your field. Areas can be work area, friends circle, home, fun places etc. Wherever you want to present your creativity you should have knowledge about verities of discipline in those areas.<br>
                    <b>Resource: </b> Required resources always keep with you which can be used for execution of small ideas comes in mind. For example: Artists carry sketchbook and photographers carries Camera kit.<br>
                    <b>Motivation:</b> Get some feedback positive or negative from the people that will help you to motivate yourself. See the great work done and observe how the masters are doing great things in creatively.<br>
                    <b>Appreciation:</b> Each and every appreciation will give you energy to doing best things ever. Make a collection of your good work and that will inspire you to doing more creative things.<br>
                    <b>Most of all-practice:</b> There are iterations are being made, concepts are changed and many scrap thing done before entire thing is become perfect. Continue your practice never let it go achieve the output for your creative thought </p>
                  <br>
                  <h3 class="">What you can do with creativity?</h3>
                  <p> As I mentioned in what is creativity, you can utilize creativity in the entire place like ideas, music theme, art, craft, innovation, hardware, software etc. Even if you are doing social work house hold works, you can use your creativity to get the things done. You can live our life creatively and it gives you internal happiness if you are naturally creative. </p>
                  <br>
                  <h3 class="">What is Creativity in web and application design?</h3>
                  <p> For the IT industries in web and Application design field, you can utilize your creativity in different parts as per below<br>
                    <br>
                    User Interface design: User Interface design is the priority things after getting requirements clearly. You can review the current design drawbacks and start your project design. Design creatively with the trends like Material design, big banner, Big fonts, Metro UI etc. For the website there are many time many different types of content we can see but by using your creativity you can make it looks from similar family or same website content. There are knowledge of platform is required while you are designing for the Mobile UI all the different OS have their specific design guideline, you must have that basics before starting your creative thoughts
                    User Experience: By using the User experience knowledge and creative thought process you can improve overall User Experience of the applications and Website UI. Many screen can be removed and generate more relevant product for targeted audience.<br>
                    <br>
                    Cross platform: As in the current scenario, one website can run in multiple platforms. You must have creative thought to think about how UI will behave in different platform. If you can’t imagine, you can able to give suggestion and product might be goes with issue. Be creative get the things done creatively. </p>
                  <br>
                  <h3 class="">What impacts of Environment for creative people?</h3>
                  <p> The most critical thing for creative people is environment. If you are working with distraction free or lively natural environment you can be more creative and productive. Crowded and Fixed disciplined environment might ruin your creativity. You can’t delivery creative output if you are bounded. Let the ideas flow in air, in papers, in canvases and let it be innovative, useful and awesome.</p>

                <div class="clearfix"></div>
                   <hr> <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
            <div class="page_subtitles">Comments<a href="" class="pull-right">Login to add comment</a></div>
            <div class="card ">
              <div class="card-body p-0">
                <div class="list-unstyled comment-list p-0">
                  <div class="media comment border-bottom-0"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                    <div class="media-body">
                      <textarea rows="4" class="form-control" placeholder="Whats in your mind..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer justify-content-between d-flex">
                <ul class="nav pull-left">
                  <li class="nav-item">
                    <button class="btn btn-link mr-2"><i class="fa fa-picture-o"></i> <span class="text">Photo</span></button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-link mr-2"><i class="fa fa-video-camera "></i> <span class="text">Video</span></button>
                  </li>
                </ul>
                <button class="btn btn-primary ">Add Comment</button>
              </div>
            </div>
              
            <div class="card">
              <div class="card-body">
                  <div class="list-unstyled comment-list" >
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                      <div class="media"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Rahul Akshay <small class="pull-right">2:00 pm, 20 January, 2017</small></h6>
                          <p class="description">This is awesome product and, I am very happy with delivery &amp; product packaging. Overall experience is good &amp; I prefer to buy it again from this portals and like more orders.</p>
                          <button class="btn btn-outline-primary btn-round mr-2">Reply</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
    <br>
  </div>