<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Loaders</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">CSS3 Loaders <small>projects.lukehaas.me/css-loaders/</small></h6>
          </div>
          <div class="card-body ">
                <div class="row">
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load1 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load2 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load3 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load4 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load5 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load6 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load7 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class="load8 load-wrapper">
                            <div class="loader">
                                Loading...
                            </div>  
                        </div>    
                    </div>
                </div>  
                
          </div>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">CSS3 Loaders <small>tobiasahlin.com/spinkit/</small></h6>
          </div>
          <div class="card-body ">
                <div class="row">
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                            <div class="sk-rotating-plane"></div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                             <div class="sk-double-bounce">
                                <div class="sk-child sk-double-bounce1"></div>
                                <div class="sk-child sk-double-bounce2"></div>
                              </div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                            <div class="sk-wave">
                                <div class="sk-rect sk-rect1"></div>
                                <div class="sk-rect sk-rect2"></div>
                                <div class="sk-rect sk-rect3"></div>
                                <div class="sk-rect sk-rect4"></div>
                                <div class="sk-rect sk-rect5"></div>
                              </div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                            <div class="sk-wandering-cubes">
                                <div class="sk-cube sk-cube1"></div>
                                <div class="sk-cube sk-cube2"></div>
                              </div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                            <div class="sk-spinner sk-spinner-pulse"></div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                             <div class="sk-chasing-dots">
                                <div class="sk-child sk-dot1"></div>
                                <div class="sk-child sk-dot2"></div>
                              </div>
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                             <div class="sk-three-bounce">
                                <div class="sk-child sk-bounce1"></div>
                                <div class="sk-child sk-bounce2"></div>
                                <div class="sk-child sk-bounce3"></div>
                              </div>  
                        </div>    
                    </div>
                    <div class="col-xs-16 col-sm-8 col-md-4 col-lg-4">
                        <div class=" load-wrapper2">
                             <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                              </div>
                        </div>    
                    </div>
                </div>  
                
          </div>
        </div>
      </div>
    </div>
  </div>