<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Frequently Asked Questions</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card full-screen-container">
          <div class="card-header">
            <h5 class="card-title  pull-left">General</h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <p class="mb-0"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed "> <i class="fa fa-angle-down fa-lg mr-2"></i> Are you looking for best UX crafted and reach UI template? </a> </p>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-angle-down fa-lg mr-2"></i> Who is the best designer? </a> </p>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-angle-down fa-lg mr-2"></i> Adminux provides best solution for your need </a> </p>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-danger full-screen-container">
          <div class="card-header">
            <h5 class="card-title  pull-left">Support</h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn text-white"><i class="fa fa-arrows-alt"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div id="accordion12" role="tablist" aria-multiselectable="true" class="accordion">
              <div class="card ">
                <div class="card-header" role="tab" id="headingOne12">
                  <p class="mb-0"> <a data-toggle="collapse" data-parent="#accordion12" href="#collapseOne12" aria-expanded="true" aria-controls="collapseOne12" class="in text-white"> <i class="fa fa-angle-down fa-lg mr-2"></i> Are you looking for best UX crafted and reach UI template? </a> </p>
                </div>
                <div id="collapseOne12" class="collapsed in show" role="tabpanel" aria-labelledby="headingOne12" aria-expanded="true">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo12">
                  <p class="mb-0"> <a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion12" href="#collapseTwo12" aria-expanded="false" aria-controls="collapseTwo12"> <i class="fa fa-angle-down fa-lg mr-2"></i> Who is the best designer? </a> </p>
                </div>
                <div id="collapseTwo12" class="collapse" role="tabpanel" aria-labelledby="headingTwo12" aria-expanded="false">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree12">
                  <p class="mb-0"> <a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion12" href="#collapseThree12" aria-expanded="false" aria-controls="collapseThree12"> <i class="fa fa-angle-down fa-lg mr-2"></i> Adminux provides best solution for your need </a> </p>
                </div>
                <div id="collapseThree12" class="collapse" role="tabpanel" aria-labelledby="headingThree12" aria-expanded="false">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card full-screen-container">
          <div class="card-header">
            <h5 class="card-title  pull-left">Public</h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div id="accordion2" role="tablist" aria-multiselectable="true" class="accordion">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne2">
                  <p class="mb-0"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2" class="collapsed "> <i class="fa fa-angle-down fa-lg mr-2"></i> Are you looking for best UX crafted and reach UI template? </a> </p>
                </div>
                <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo2">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"> <i class="fa fa-angle-down fa-lg mr-2"></i> Who is the best designer? </a> </p>
                </div>
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree2">
                  <p class="mb-0"> <a class="collapsed " data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"> <i class="fa fa-angle-down fa-lg mr-2"></i> Adminux provides best solution for your need </a> </p>
                </div>
                <div id="collapseThree2" class="collapse" role="tabpanel" aria-labelledby="headingThree2" aria-expanded="false">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-primary full-screen-container">
          <div class="card-header">
            <h5 class="card-title  pull-left">Policy</h5>
            <ul class="nav nav-pills card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round fullscreen-btn text-white"><i class="fa fa-arrows-alt"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div id="accordion22" role="tablist" aria-multiselectable="true" class="accordion">
              <div class="card ">
                <div class="card-header" role="tab" id="headingOne22">
                  <p class="mb-0"> <a data-toggle="collapse" data-parent="#accordion22" href="#collapseOne22" aria-expanded="true" aria-controls="collapseOne22" class="in text-white"> <i class="fa fa-angle-down fa-lg mr-2"></i> Are you looking for best UX crafted and reach UI template? </a> </p>
                </div>
                <div id="collapseOne22" class="collapsed in show" role="tabpanel" aria-labelledby="headingOne22" aria-expanded="true">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo22">
                  <p class="mb-0"> <a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion22" href="#collapseTwo22" aria-expanded="false" aria-controls="collapseTwo22"> <i class="fa fa-angle-down fa-lg mr-2"></i> Who is the best designer? </a> </p>
                </div>
                <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo12" aria-expanded="false">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree22">
                  <p class="mb-0"> <a class="collapsed text-white" data-toggle="collapse" data-parent="#accordion22" href="#collapseThree22" aria-expanded="false" aria-controls="collapseThree22"> <i class="fa fa-angle-down fa-lg mr-2"></i> Adminux provides best solution for your need </a> </p>
                </div>
                <div id="collapseThree22" class="collapse" role="tabpanel" aria-labelledby="headingThree22" aria-expanded="false">
                  <div class="card-body text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>