<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Footable</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Row Toggle + Responsive Utility</h6>
          </div>
          <div class="card-body">
                <table class="table mb-0" id="footable1" data-paging-size="8"  data-sorting="true" data-show-toggle="false">
                  <thead>
                    <tr>
                      <th >User </th>
                      <th>Email</th>
                      <th data-hide="xs">Phone</th>
                      <th data-hide="xs">Project</th>
                      <th data-hide="xs sm">status</th>
                      <th data-hide="all" data-title="Social Media">socials</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd">
                      <td><img src="assets/img/product1.jpg" alt="" class="gridpic">Strobarry milk</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">40</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">18</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">10</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Lucky Sans</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">19</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">40</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">18</td>
                      <td class="center"><span class="status danger">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">17</td>
                      <td class="center"><span class="status danger">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">50</td>
                      <td class="center"><span class="status danger">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">20</td>
                      <td class="center"><span class="status warning">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">15</td>
                      <td class="center"><span class="status warning">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Lucky Sans</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">15</td>
                      <td class="center"><span class="status primary">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">50</td>
                      <td class="center"><span class="status primary">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                  </tbody>
                   <tfoot>
						<tr>
							<td colspan="6">
								<div class="pagination footable-paging pagination-centered"></div>
							</td>
						</tr>
					</tfoot>
                </table>
            
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Basic with Pagination and Sorting</h6>
          </div>
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0" id="footable1" data-paging="true" data-paging-size="8"  data-sorting="true">
                  <thead>
                    <tr>
                      <th>User </th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Project</th>
                      <th>status</th>
                      <th>socials</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd">
                      <td><img src="assets/img/product1.jpg" alt="" class="gridpic">Strobarry milk</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">40</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">18</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">10</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm" ><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Lucky Sans</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">19</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">40</td>
                      <td class="center"><span class="status success">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">18</td>
                      <td class="center"><span class="status danger">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">17</td>
                      <td class="center"><span class="status danger">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">50</td>
                      <td class="center"><span class="status danger">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Alone Guy</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">20</td>
                      <td class="center"><span class="status warning">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Astha Smith</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">15</td>
                      <td class="center"><span class="status warning">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="odd">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">Lucky Sans</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">15</td>
                      <td class="center"><span class="status primary">Inactive</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                    <tr class="even ">
                      <td><img src="assets/img/team.png" alt="" class="gridpic">John Doe</td>
                      <td>info@maxartkiller.in</td>
                      <td>+91 000 000 0000</td>
                      <td class="center">50</td>
                      <td class="center"><span class="status primary">Active</span></td>
                      <td class="center"><a href="" class=" btn btn-link btn-sm "><i class="fa fa-facebook"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-twitter"></i></a> <a href="" class="btn btn-link btn-sm"><i class="fa fa-envelope"></i></a></td>
                    </tr>
                  </tbody>
                  <tfoot>
						<tr>
							<td colspan="6">
								<div class="pagination footable-paging pagination-centered"></div>
							</td>
						</tr>
					</tfoot>
                </table>
                </div>            
          </div>
        </div>
      </div>
    </div>
  </div>