<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Range Slider</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Range Slider</h6>
          </div>
          <div class="card-body">
            <input  type="range" class="handlevalue"  min="10" max="1000" step="10"  value="300" >
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Range Slider with Number</h6>
          </div>
          <div class="card-body">
            <input  type="range" class="handlevalue small"  min="10" max="1000" step="10"  value="300" >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Range Slider Vertical</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-16 col-lg-8">
                <input type="range" data-orientation="vertical" class="vertical small">
                <output></output>
              </div>
              <div class="col-sm-16 col-lg-8">
                <input type="range" data-orientation="vertical" class="vertical">
                <output></output>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Range Slider</h6>
          </div>
          <div class="card-body">
            <input  type="range" class="minmax small"  min="10" max="1000" step="10"  value="800" >
          </div>
        </div>
      </div>
    </div>
  </div>