<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  <div class="col"></div>
  <div class="pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <form class="form-signin1 smallbox">
      <h2 class="tex-black mb-4">Register with Us</h2>
      <label  class="sr-only">Name</label>
      <input type="text" class="form-control" placeholder="Name" >
      <br>
      <label  class="sr-only">User name</label>
      <input type="text" class="form-control" placeholder="Username" >
      <br>
      <label  class="sr-only">Email address</label>
      <input type="text" class="form-control" placeholder="Email address" >
      <br>
      <label class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Paassword" >
      <br>
      <div class="checkbox">
        <label class="form-check-label active">
          <input type="checkbox" class="form-check-input">
          <i class="fa fa-check"></i></label>
        Remember me </div>
      <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Sign Up</a><br>
      <a href="" class="btn btn-link mt-2">Forgot password?</a>
    </form>
    <p class="mt-3">Dont have account yet? <a href="#" class="text-white">Sign in here</a>!</p>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-8 text-right"><a href="#" target="_blank" class="">Privacy Policy</a> | <a href="#" target="_blank" class="">Terms of use</a> </div>
  </footer>
</div>

<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
			<h1>SB Admin BS 4 Angular2</h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg"
							id="" placeholder="Full Name">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg"
							id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password"
							class="form-control input-underline input-lg" id=""
							placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password"
							class="form-control input-underline input-lg" id=""
							placeholder="Repeat Password">
					</div>
				</div>
				<a type="submit" class="btn rounded-btn"
					routerLink="/dashboard/home"> Register </a>&nbsp; <a type="submit"
					class="btn rounded-btn" routerLink="/"> Log in </a>
			</form>
		</div>
	</div>
</div>
