<div class="sidebar-left" >
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <button class="media btn btn-link dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"></span> <span class="media-body"> <span class="mt-0 mb-1">Maxartkiller</span> <small>New Jersey, UK.</small> </span> </button>
      	<div class="dropdown-menu"> 
	      	<a class="dropdown-item" >Profile</a> 
	      	<a class="dropdown-item" >Mailbox</a> 
	      	<a class="dropdown-item" >Application</a> 
	      	<a class="dropdown-item" >Analytics Report</a>
	      	<a class="dropdown-item" >Preferances</a>
        	<div class="dropdown-divider"></div>
        	<a class="dropdown-item" >Setting</a> 
        </div>
    </div>
  </div>
  <br>
  <ul class="nav flex-column in" id="side-menu">
    <li class="title-nav">MENU</li>
    <li class="nav-item"><a class="nav-link" routerLink="kementan"  [ngClass]="{'active' : ( addActive === 'kementan')}" (click)="addActiveMenu('kementan')"><i class="fa fa-dashboard"></i> Kementa</a></li>
    <li class="nav-item active" [ngClass]="{'active' : (showMenu === 'dashboard')}"> <a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('dashboard')">Dashboard<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class=" nav-item active" ><a  routerLink="manufacture" class="nav-link  " [ngClass]="{'active' : ( addActive === 'manufacture')}" (click)="addActiveMenu('manufacture')"><i class="fa fa-globe"></i> Menufacturing</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="networking"  [ngClass]="{'active' : ( addActive === 'networking')}" (click)="addActiveMenu('networking')"><i class="fa fa-dashboard"></i> Networking</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="entertainment"  [ngClass]="{'active' : ( addActive === 'entertainment')}" (click)="addActiveMenu('entertainment')"><i class="fa fa-play"></i> Entertainment</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="social"  [ngClass]="{'active' : ( addActive === 'social')}" (click)="addActiveMenu('social')"><i class="fa fa-bullhorn"></i> Social</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="todo"  [ngClass]="{'active' : ( addActive === 'todo')}" (click)="addActiveMenu('todo')"><i class="fa fa-check-square-o"></i> ToDo</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item " [ngClass]="{'active' : showMenu === 'app_pages' }"> <a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('app_pages')">App Pages<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="in nav-item"><a  routerLink="mailbox" class="nav-link  " [ngClass]="{'active' : ( addActive === 'mailbox')}" (click)="addActiveMenu('mailbox')">Mailbox</a></li>
        <li class="nav-item"><a  routerLink="chatapp" class="nav-link  " [ngClass]="{'active' : ( addActive === 'chatapp')}" (click)="addActiveMenu('chatapp')">Chat app</a></li>
        <li class="nav-item"><a  routerLink="filemanager" class="nav-link  " [ngClass]="{'active' : ( addActive === 'filemanager')}" (click)="addActiveMenu('filemanager')">File Manager</a></li>
        <li class="nav-item"  [ngClass]="{'active' : showSubMenu === 'forum' }">
        	<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addSubExpandClass('forum')">Forum Module <span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
          	<ul class="nav flex-column nav-third-level">
            	<li class="nav-item"><a routerLink="forum" class="nav-link  " [ngClass]="{'active' : ( addActive === 'forum')}" (click)="addActiveMenu('forum')">Forum</a></li>
            	<li class="nav-item"><a routerLink="forumdetails" class="nav-link  " [ngClass]="{'active' : ( addActive === 'forumdetails')}" (click)="addActiveMenu('forumdetails')">Forum Deatails</a></li>
            	<li class="nav-item"><a routerLink="forumtopicsdetails" class="nav-link  " [ngClass]="{'active' : ( addActive === 'forumtopicsdetails')}" (click)="addActiveMenu('forumtopicsdetails')">Forum Topic Details</a></li>
          	</ul>
          <!-- /.nav-third-level --> 
        </li>
        <li class="nav-item"><a routerLink="userlist" class="nav-link  " [ngClass]="{'active' : ( addActive === 'userlist')}" (click)="addActiveMenu('userlist')">User List</a></li>
        <li class="nav-item"><a routerLink="socialprofile" class="nav-link  " [ngClass]="{'active' : ( addActive === 'socialprofile')}" (click)="addActiveMenu('socialprofile')">Social Profile</a></li>
        <li class="nav-item"><a routerLink="calendar" class="nav-link  " [ngClass]="{'active' : ( addActive === 'calendar')}" (click)="addActiveMenu('calendar')">Calendar</a></li>
        <li class="nav-item"><a routerLink="pricing" class="nav-link  " [ngClass]="{'active' : ( addActive === 'pricing')}" (click)="addActiveMenu('pricing')">Pricing</a></li>
        <li class="nav-item"><a routerLink="services" class="nav-link  " [ngClass]="{'active' : ( addActive === 'services')}" (click)="addActiveMenu('services')">Services</a></li>
        <li class="nav-item"><a routerLink="gallery" class="nav-link  " [ngClass]="{'active' : ( addActive === 'gallery')}" (click)="addActiveMenu('gallery')">Gallery</a></li>
        <li class="nav-item"><a routerLink="contact" class="nav-link  " [ngClass]="{'active' : ( addActive === 'contact')}" (click)="addActiveMenu('contact')">Contact</a></li>
        <li class="nav-item"><a routerLink="blog" class="nav-link  " [ngClass]="{'active' : ( addActive === 'blog')}" (click)="addActiveMenu('blog')">Blogs</a></li>
        <li class="nav-item"><a routerLink="blogdetails" class="nav-link  " [ngClass]="{'active' : ( addActive === 'blogdetails')}" (click)="addActiveMenu('blogdetails')">Blog Details</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'ecommerce' }">
		<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('ecommerce')">eCommerce <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li  class="nav-item"><a routerLink="product" class="nav-link  " [ngClass]="{'active' : ( addActive === 'product')}" (click)="addActiveMenu('product')">Products</a></li>
        <li  class="nav-item"><a routerLink="productdetails" class="nav-link  " [ngClass]="{'active' : ( addActive === 'productdetails')}" (click)="addActiveMenu('productdetails')">Product Details</a></li>         
        <li  class="nav-item"><a routerLink="orderstatus" class="nav-link  " [ngClass]="{'active' : ( addActive === 'orderstatus')}" (click)="addActiveMenu('orderstatus')">Order status</a></li>
        <li  class="nav-item"><a routerLink="checkout" class="nav-link  " [ngClass]="{'active' : ( addActive === 'checkout')}" (click)="addActiveMenu('checkout')">Checkout/Cart</a></li>
        <li class="nav-item"><a routerLink="invoice1" class="nav-link  " [ngClass]="{'active' : ( addActive === 'invoice1')}" (click)="addActiveMenu('invoice1')">Invoice 1<sup>st</sup></a></li>
        <li class="nav-item"><a routerLink="invoice2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'invoice2')}" (click)="addActiveMenu('invoice2')">Invoice 2<sup>nd</sup></a></li>
        <li class="nav-item"><a routerLink="customerprofile" class="nav-link  " [ngClass]="{'active' : ( addActive === 'customerprofile')}" (click)="addActiveMenu('customerprofile')">Customer Profile</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'other_pages' }">
    	<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('other_pages')">Other Pages <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a routerLink="blankpage" class="nav-link  " [ngClass]="{'active' : ( addActive === 'blankpage')}" (click)="addActiveMenu('blankpage')">Blank Page</a></li>
        <li class="nav-item" [ngClass]="{'active' : showSubMenu === 'signin' }">
        <a href="javascript:void(0)" class="menudropdown nav-link"  (click)="addSubExpandClass('signin')">Sign in <i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a routerLink="../signin2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'signin2')}" (click)="addActiveMenu('signin2')">Sign in 2</a></li>
            <li class="nav-item"><a routerLink="../signin3" class="nav-link  " [ngClass]="{'active' : ( addActive === 'signin3')}" (click)="addActiveMenu('signin3')">Sign in 3</a></li>
            <li class="nav-item"><a routerLink="../signin4" class="nav-link  " [ngClass]="{'active' : ( addActive === 'signin4')}" (click)="addActiveMenu('signin4')">Sign in 4</a></li>
            <li class="nav-item"><a routerLink="../signin5" class="nav-link  " [ngClass]="{'active' : ( addActive === 'signin5')}" (click)="addActiveMenu('signin5')">Sign in 5</a></li>
            <li class="nav-item"><a routerLink="../signin6" class="nav-link  " [ngClass]="{'active' : ( addActive === 'signin6')}" (click)="addActiveMenu('signin6')">Sign in 6</a></li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
       	<li class="nav-item"  [ngClass]="{'active' : showSubMenu === 'register' }">
        <a href="javascript:void(0)" class="menudropdown nav-link" (click)="addSubExpandClass('register')">Register <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a routerLink="../signup1" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register1')}" (click)="addActiveMenu('register1')">Register 1</a></li>
          <li class="nav-item"><a routerLink="../signup2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register2')}" (click)="addActiveMenu('register2')">Register 2</a></li>
          <li class="nav-item"><a routerLink="../signup3" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register3')}" (click)="addActiveMenu('register3')">Register 3</a></li>
          <li class="nav-item"><a routerLink="../signup4" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register4')}" (click)="addActiveMenu('register4')">Register 4</a></li>
          <li class="nav-item"><a routerLink="../signup5" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register5')}" (click)="addActiveMenu('register5')">Register 5</a></li>
          <li class="nav-item"><a routerLink="../signup6" class="nav-link  " [ngClass]="{'active' : ( addActive === 'register6')}" (click)="addActiveMenu('register6')">Register 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"  [ngClass]="{'active' : showSubMenu === 'resetPassword' }">
      	<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addSubExpandClass('resetPassword')">Reset Password <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a routerLink="../resetpassword" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword1')}" (click)="addActiveMenu('resetpassword1')">Reset Password 1</a></li>
          <li class="nav-item"><a routerLink="../resetpassword2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword2')}" (click)="addActiveMenu('resetpassword2')">Reset Password 2</a></li>
          <li class="nav-item"><a routerLink="../resetpassword3" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword3')}" (click)="addActiveMenu('resetpassword3')">Reset Password 3</a></li>
          <li class="nav-item"><a routerLink="../resetpassword4" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword4')}" (click)="addActiveMenu('resetpassword4')">Reset Password 4</a></li>
          <li class="nav-item"><a routerLink="../resetpassword5" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword5')}" (click)="addActiveMenu('resetpassword5')">Reset Password 5</a></li>
          <li class="nav-item"><a routerLink="../resetpassword6" class="nav-link  " [ngClass]="{'active' : ( addActive === 'resetpassword6')}" (click)="addActiveMenu('resetpassword6')">Reset Password 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
        <li class="nav-item"  [ngClass]="{'active' : showSubMenu === 'lock' }">
        <a href="javascript:void(0)" class="menudropdown nav-link" (click)="addSubExpandClass('lock')">Lock<i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a routerLink="../lock" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock1')}" (click)="addActiveMenu('lock1')">Lock 1</a></li>
            <li class="nav-item"><a routerLink="../lock2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock2')}" (click)="addActiveMenu('lock2')">Lock 2</a></li>
            <li class="nav-item"><a routerLink="../lock3" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock3')}" (click)="addActiveMenu('lock3')">Lock 3</a></li>
            <li class="nav-item"><a routerLink="../lock4" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock4')}" (click)="addActiveMenu('lock4')">Lock 4</a></li>
            <li class="nav-item"><a routerLink="../lock5" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock5')}" (click)="addActiveMenu('lock5')">Lock 5</a></li>
            <li class="nav-item"><a routerLink="../lock6" class="nav-link  " [ngClass]="{'active' : ( addActive === 'lock6')}" (click)="addActiveMenu('lock6')">Lock 6</a></li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
        <li class="nav-item"><a routerLink="errorone" class="nav-link  " [ngClass]="{'active' : ( addActive === '4041')}" (click)="addActiveMenu('4041')">404 1<sup>st</sup></a></li>
        <li class="nav-item"><a routerLink="errortwo" class="nav-link  " [ngClass]="{'active' : ( addActive === '4042')}" (click)="addActiveMenu('4042')">404 2<sup>nd</sup></a></li>
        <li class="nav-item"><a routerLink="errorthree" class="nav-link  " [ngClass]="{'active' : ( addActive === '5001')}" (click)="addActiveMenu('5001')">500 1<sup>st</sup></a></li>
        <li class="nav-item"><a routerLink="errorfour" class="nav-link  " [ngClass]="{'active' : ( addActive === '5002')}" (click)="addActiveMenu('5002')">500 2<sup>nd</sup></a></li>
        <li class="nav-item"><a routerLink="searchresult" class="nav-link  " [ngClass]="{'active' : ( addActive === 'searchresult')}" (click)="addActiveMenu('searchresult')">Search Result</a></li>
        <li class="nav-item"><a routerLink="faqs" class="nav-link  " [ngClass]="{'active' : ( addActive === 'faqs')}" (click)="addActiveMenu('faqs')">FAQs</a></li>
        <li class="nav-item"><a routerLink="../comingsoon1" class="nav-link  " [ngClass]="{'active' : ( addActive === 'comingsoon1')}" (click)="addActiveMenu('comingsoon1')">Coming Soon 1<sup>st</sup></a></li>
        <li class="nav-item"><a routerLink="../comingsoon2" class="nav-link  " [ngClass]="{'active' : ( addActive === 'comingsoon2')}" (click)="addActiveMenu('comingsoon2')">Coming Soon 2<sup>nd</sup></a></li>
        <li class="nav-item"><a routerLink="../comingsoon3" class="nav-link  " [ngClass]="{'active' : ( addActive === 'comingsoon3')}" (click)="addActiveMenu('comingsoon3')">Coming Soon 3<sup>rd</sup></a></li>
        <li class="nav-item"><a routerLink="cookie" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Cookie')}" (click)="addActiveMenu('Cookie')">Cookie</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'chart_maps' }">
    	<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('chart_maps')">Charts &amp; Maps<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" routerLink="highchart" [ngClass]="{'active' : ( addActive === 'highchart')}" (click)="addActiveMenu('highchart')">high Charts</a> </li>
        <li class="nav-item"><a routerLink="chartjs" class="nav-link  " [ngClass]="{'active' : ( addActive === 'chartjs')}" (click)="addActiveMenu('chartjs')">Chart.js Charts</a></li>
        <li class="nav-item"><a routerLink="jvectormap" class="nav-link  " [ngClass]="{'active' : ( addActive === 'jvectormap')}" (click)="addActiveMenu('jvectormap')">jVectormap</a></li>
        <li class="nav-item"><a routerLink="googlemap" class="nav-link  " [ngClass]="{'active' : ( addActive === 'googlemap')}" (click)="addActiveMenu('googlemap')">Google map 1<sup>st</sup></a></li>
        <li class="nav-item"><a routerLink="googlemaptwo" class="nav-link  " [ngClass]="{'active' : ( addActive === 'googlemaptwo')}" (click)="addActiveMenu('googlemaptwo')">Google map 2<sup>nd</sup></a></li>
      </ul>
      <!-- /.nav-second-level -->  
    </li>
    <li class="nav-item "  [ngClass]="{'active' : showMenu === 'layout' }">
    	<a href="javascript:void(0)" class="menudropdown nav-link"  (click)="addExpandClass('layout')">Layout<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="in nav-item"><a  routerLink="morerounded" class="nav-link  " [ngClass]="{'active' : ( addActive === 'morerounded')}" (click)="addActiveMenu('morerounded')">More Rounded</a></li>
        <li class="in nav-item"><a  routerLink="rtl" class="nav-link  " [ngClass]="{'active' : ( addActive === 'rtl')}" (click)="addActiveMenu('rtl')">RTL</a></li>
        <li class="in nav-item"><a  routerLink="ltr" class="nav-link  " [ngClass]="{'active' : ( addActive === 'ltr')}" (click)="addActiveMenu('ltr')">LTR</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item "  [ngClass]="{'active' : showMenu === 'icons' }"> 
   		<a href="javascript:void(0)" class="menudropdown nav-link" (click)="addExpandClass('icons')">Icons <span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class="nav-item"><a routerLink="fontawesomeicons" class="nav-link  " [ngClass]="{'active' : ( addActive === 'fontawesomeicons')}" (click)="addActiveMenu('fontawesomeicons')">Font awesome</a></li>
        <li class="nav-item"><a routerLink="themefyicons" class="nav-link  " [ngClass]="{'active' : ( addActive === 'themefyicons')}" (click)="addActiveMenu('themefyicons')">Themify icons</a></li>
        <li class="nav-item"><a routerLink="weathericons" class="nav-link  " [ngClass]="{'active' : ( addActive === 'weathericons')}" (click)="addActiveMenu('weathericons')">Weather icons</a></li>
        <li class="nav-item"><a routerLink="flagsicons" class="nav-link  " [ngClass]="{'active' : ( addActive === 'flagsicons')}" (click)="addActiveMenu('flagsicons')">Flags icons</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'controls_library' }">
    	<a href="javascript:void(0)" class="nav-link menudropdown" (click)="addExpandClass('controls_library')">Controls Library <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a routerLink="wizards" class="nav-link  " [ngClass]="{'active' : ( addActive === 'wizards')}" (click)="addActiveMenu('wizards')">Wizards</a></li>
        <li class="nav-item"><a routerLink="timeline" class="nav-link  " [ngClass]="{'active' : ( addActive === 'timeline')}" (click)="addActiveMenu('timeline')">Timeline</a></li>
        <li class="nav-item"><a routerLink="cards" class="nav-link  " [ngClass]="{'active' : ( addActive === 'cards')}" (click)="addActiveMenu('cards')">Cards</a></li>
        <li class="nav-item"><a routerLink="accordion" class="nav-link  " [ngClass]="{'active' : ( addActive === 'accordion')}" (click)="addActiveMenu('accordion')">Accordion</a></li>
        <li class="nav-item"><a routerLink="tabs" class="nav-link  " [ngClass]="{'active' : ( addActive === 'manufacture')}" (click)="addActiveMenu('tabs')">Tabs</a></li>
        <li class="nav-item"><a routerLink="buttons" class="nav-link  " [ngClass]="{'active' : ( addActive === 'buttons')}" (click)="addActiveMenu('buttons')">Buttons</a></li>
        <li class="nav-item"><a routerLink="alertsnotes" class="nav-link  " [ngClass]="{'active' : ( addActive === 'alertsnotes')}" (click)="addActiveMenu('alertsnotes')">Alerts and Notes</a></li>
        <li class="nav-item"><a routerLink="breadcrumb" class="nav-link  " [ngClass]="{'active' : ( addActive === 'breadcrumb')}" (click)="addActiveMenu('breadcrumb')">BreadCrumb</a></li>
        <li class="nav-item"><a routerLink="modal" class="nav-link  " [ngClass]="{'active' : ( addActive === 'modal')}" (click)="addActiveMenu('modal')">Modal</a></li>
        <li class="nav-item"><a routerLink="popover" class="nav-link  " [ngClass]="{'active' : ( addActive === 'popover')}" (click)="addActiveMenu('popover')">Popover</a></li>
        <li class="nav-item"><a routerLink="typography" class="nav-link  " [ngClass]="{'active' : ( addActive === 'typography')}" (click)="addActiveMenu('typography')">Typography</a></li>
        <li class="nav-item"><a routerLink="grid" class="nav-link  " [ngClass]="{'active' : ( addActive === 'grid')}" (click)="addActiveMenu('grid')">Grid</a></li>
        <li class="nav-item"><a routerLink="progressbar" class="nav-link  " [ngClass]="{'active' : ( addActive === 'progressbar')}" (click)="addActiveMenu('progressbar')">Progress bar</a></li>
        <li class="nav-item"><a routerLink="rangeslider" class="nav-link  " [ngClass]="{'active' : ( addActive === 'rangeslider')}" (click)="addActiveMenu('rangeslider')">Range Slider</a></li>
        <li class="nav-item"><a routerLink="Dropdown" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Dropdown')}" (click)="addActiveMenu('Dropdown')">Dropdown</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'advance_control' }">
    	<a href="javascript:void(0)" class="nav-link menudropdown" (click)="addExpandClass('advance_control')">Advance Controls<span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">        
        <li class="nav-item"><a routerLink="Picker" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Picker')}" (click)="addActiveMenu('Picker')">Picker</a></li>
        <li class="nav-item"><a routerLink="clipboard" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Clipboard')}" (click)="addActiveMenu('Clipboard')">Clipboard</a></li>
        <li class="nav-item"><a routerLink="autocomplete" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Autocomplete')}" (click)="addActiveMenu('Autocomplete')">Autocomplete</a></li>
        <li class="nav-item"><a routerLink="switch" class="nav-link  " [ngClass]="{'active' : ( addActive === 'switch')}" (click)="addActiveMenu('switch')">Switch</a></li>
        <li class="nav-item"><a routerLink="treeview" class="nav-link  " [ngClass]="{'active' : ( addActive === 'treeview')}" (click)="addActiveMenu('treeview')">Tree View</a></li>
        <li class="nav-item"><a routerLink="dragable" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Dragable')}" (click)="addActiveMenu('Dragable')">Dragable/Sortable</a></li>
        <li class="nav-item"><a routerLink="loaders" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Loaders')}" (click)="addActiveMenu('Loaders')">Loaders</a></li>
        <li class="nav-item"><a routerLink="dropezone" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Dropzone')}" (click)="addActiveMenu('Dropzone')">Dropzone js</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
      
    <li class="nav-item" [ngClass]="{'active' : showMenu === 'classic_forms' }">
    	<a href="javascript:void(0)" class="nav-link menudropdown" (click)="addExpandClass('classic_forms')">Classic Forms<span class="badge badge-success ml-2">Trending</span> <i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a routerLink="creditcardone" class="nav-link  " [ngClass]="{'active' : ( addActive === 'creditcard_one')}" (click)="addActiveMenu('creditcard_one')">Credit Card Form</a></li>
        <li class="nav-item"><a routerLink="creditcardtwo" class="nav-link  " [ngClass]="{'active' : ( addActive === 'creditcard')}" (click)="addActiveMenu('creditcard')">Credit Card Form 2</a></li>
        <li class="nav-item"><a routerLink="donationform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'donationForm')}" (click)="addActiveMenu('donationForm')">Donation Form</a></li>
        <li class="nav-item"><a routerLink="authorityform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'AuthorityForm')}" (click)="addActiveMenu('AuthorityForm')">Authority Form</a></li>
        <li class="nav-item"><a routerLink="employeereviewform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'EmployeeReview')}" (click)="addActiveMenu('EmployeeReview')">Employee review Form</a></li>
        <li class="nav-item"><a routerLink="profileform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'ProfileForm')}" (click)="addActiveMenu('ProfileForm')">Profile Form</a></li>
        <li class="nav-item"><a routerLink="survayform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'SurvayForm')}" (click)="addActiveMenu('SurvayForm')">Survay Form</a></li>
        <li class="nav-item"><a routerLink="bookingform" class="nav-link  " [ngClass]="{'active' : ( addActive === 'BookingForm')}" (click)="addActiveMenu('BookingForm')">Booking Form</a></li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
    <li class="title-nav">
      <hr>
    </li>
    <li class="title-nav">icon + MENU</li>
    <li  class="nav-item"> <a routerLink="tables" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Tables')}" (click)="addActiveMenu('Tables')"><i class="fa fa-table left-icon square"></i>Tables</a> </li>
    <li  class="nav-item"> <a routerLink="datatable" class="nav-link  " [ngClass]="{'active' : ( addActive === 'DataTables')}" (click)="addActiveMenu('DataTables')"><i class="fa fa-th left-icon square"></i>DataTables</a> </li>
    <li  class="nav-item"> <a routerLink="footable" class="nav-link  " [ngClass]="{'active' : ( addActive === 'FooTables')}" (click)="addActiveMenu('FooTables')"><i class="fa fa-file-o left-icon circle"></i>FooTables</a> </li>
    <li class="nav-item"> <a routerLink="forms" class="nav-link  " [ngClass]="{'active' : ( addActive === 'Forms')}" (click)="addActiveMenu('Forms')"><i class="fa fa-file-o left-icon circle"></i>Forms</a> </li>
    <li class="nav-item"  [ngClass]="{'active' : showMenu === 'multilevel' }"> 
    	<a href="javascript:void(0)" class="nav-link menudropdown " (click)="addExpandClass('multilevel')">Multi-Level Dropdown<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
        <!-- .nav-third-level menudropdown2 -->
        <li class="nav-item"  [ngClass]="{'active' : showSubMenu === 'thirdlevel' }">
	      <a href="javascript:void(0)" class="menudropdown nav-link" (click)="addSubExpandClass('thirdlevel')">Third Level <i class="fa fa-angle-down "></i></a>
          <ul class="nav flex-column nav-third-level">
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
          </ul>
          <!-- /.nav-third-level --> 
        </li>
      </ul>
      <!-- /.nav-second-level --> 
    </li>
  </ul>
  <hr>
  <ul class="nav flex-column in" >
    <li class="title-nav">Activity States</li>
    <li class="nav-item "><a href="#" class="nav-link"><span><span class="dynamicsparkline2">Loading..</span> </span><br>
      Daily activity</a></li>
  </ul>
  <hr>
  <ul class="nav flex-column in">
    <li class="title-nav">Next Meeting</li>
    <li class="nav-item "> 
<div class="nav-link">
    <h5>12:30 PM, Today <span class="fa fa-bell-o pull-right"></span></h5>
    <span class="meeting-subject">Agenda: Team mnufacturing review meeting. Board Compulsory</span> 
    <div class="">
      <button class="btn btn-outline-success btn-round mr-sm-2">Snooz</button>
      <button class="btn btn-outline-danger btn-round ">Dismiss</button>
    </div>
    </div>
  </li>
  </ul>
  <br>
  <br>
</div>
