<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Service</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <h4>Developement</h4>
          <h2 class="">HTML CSS</h2>
          <br>
          <p class="lead">We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-html5"></i> </div>
      </div>
      <div class="col-md-16 serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <h4>Developement</h4>
          <h2 class="">Responsive Web</h2>
          <br>
          <p class="lead">We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-desktop"></i> </div>
      </div>
      <div class="col-md-16 serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <h4>Developement</h4>
          <h2 class="">Browser Support</h2>
          <br>
          <p class="lead">We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-edge"></i> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16  serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <figure> <img src="assets/img/project_pic.jpg" alt="" class="responsive-img"> </figure>
          <h4>Developement</h4>
          <h2 class="">HTML CSS</h2>
          <p class="lead hide"><br>
            We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-css3"></i> </div>
      </div>
      <div class="col-md-16  serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <figure> <img src="assets/img/project_pic.jpg" alt="" class="responsive-img"> </figure>
          <h4>Developement</h4>
          <h2 class="">Responsive Web</h2>
          <p class="lead hide"> <br>
            We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-desktop"></i> </div>
      </div>
      <div class="col-md-16 serviceblock col-lg mt-2 mb-2">
        <div class="block">
          <figure> <img src="assets/img/project_pic.jpg" alt="" class="responsive-img"> </figure>
          <h4>Developement</h4>
          <h2 class="">Browser Support</h2>
          <p class="lead hide"><br>
            We have created large number of widget and component with different pages, You can customize and create your own template page with our library. We create careative designs and  Responsive HTML with browser competibitlity and flexibility to adopt content changes at major level.</p>
          <br>
          <br>
          <p><a class="" href="#" role="button">READ MORE</a></p>
          <i class="fa fa-edge"></i> </div>
      </div>
    </div>
    <br>
  </div>