<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Purchase Bill/Invoice</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card invoice status-danger">
          <div class="card-header ">
            <h2 class=" mb-0">INVOICE <small class="pull-right">Order #123456</small> </h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8"> <a class="" href="#">
                <h2><span class="fa fa-trophy"></span> Adminux</h2>
                </a> <br>
                <address>
                <strong>Billed To:</strong><br>
                John Smith<br>
                1234 Main<br>
                Apt. 4B<br>
                Springfield, ST 54321
                </address>
                <br>
                <address>
                <strong>Payment Method:</strong><br>
                Visa ending **** 4242<br>
                <a href="mailto:jsmith@rmail.com">jsmith@email.com</a>
                </address>
              </div>
              <div class="col-sm-8 text-right">
                <address>
                <strong>Shipped To:</strong><br>
                Jane Smith<br>
                1234 Main<br>
                Apt. 4B<br>
                Springfield, ST 54321
                </address>
                <br>
                <address>
                <strong>Order Date:</strong><br>
                March 7, 2014<br>
                <p class="text-danger">Payment due April 21th, 2017</p>
                <br>
                </address>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-16">
                <h2 class="text-center">Order summary</h2>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-16">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td><strong>Item</strong></td>
                        <td class="text-center"><strong>Price</strong></td>
                        <td class="text-center"><strong>Quantity</strong></td>
                        <td class="text-right"><strong>Totals</strong></td>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- foreach ($order->lineItems as $line) or some such thing here -->
                      <tr>
                        <td><b>Lorem Ipsum is simply dummy text</b><br>
                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</td>
                        <td class="text-center">$10.99</td>
                        <td class="text-center">1</td>
                        <td class="text-right">$10.99</td>
                      </tr>
                      <tr>
                        <td><b>Lorem Ipsum is simply dummy text</b><br>
                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</td>
                        <td class="text-center">$20.00</td>
                        <td class="text-center">3</td>
                        <td class="text-right">$60.00</td>
                      </tr>
                      <tr>
                        <td><b>Lorem Ipsum is simply dummy text</b><br>
                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</td>
                        <td class="text-center">$600.00</td>
                        <td class="text-center">1</td>
                        <td class="text-right">$600.00</td>
                      </tr>
                      <tr>
                        <td class="thick-line"></td>
                        <td class="thick-line"></td>
                        <td class="thick-line text-center"><strong>Subtotal</strong></td>
                        <td class="thick-line text-right">$670.99</td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Shipping</strong></td>
                        <td class="no-line text-right">$15</td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center"><strong>Total</strong></td>
                        <td class="no-line text-right"><strong>$685.99</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-16">
                <hr>
              </div>
              <div class="col-sm-8"> We recommend pwoer services for our customers </div>
              <div class="col-sm-8 text-right"> Authorized by,<br>
                <b>AdminUX</b> </div>
            </div>
            <br>
            <br>
            <br>
          </div>
          <div class="card-footer align-items-center justify-content-between d-flex">
            <button class="btn btn-outline-white pull-right">Back to Home</button>
            <button class="btn btn-white"><i class="fa fa-print"></i> Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>