<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Tree View</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Basic HTML</h6>
          </div>
          <div class="card-body">
             <div id="html1">
                  <ul  data-jstree='{ "opened" : true }'>
                    <li>Root node 1
                      <ul>
                        <li>Child node 1</li>
                        <li><a href="#">Child node 2</a></li>
                      </ul>
                    </li>
                    <li>Root node 1
                      <ul>
                        <li>Child node 1
                            <ul>
                                <li data-jstree='{ "selected" : true }'>Child node 1.1</li>
                                <li>Child node 1.2</li>
                                <li>Child node 1.3</li>
                                <li>Child node 1.4</li>
                                <li>Child node 1.5</li>
                                <li><a href="#">Child node 1.6</a></li>
                              </ul>  
                        </li>
                        <li>Child node 2</li>
                        <li>Child node 3</li>
                        <li>Child node 4</li>
                        <li>Child node 5</li>
                        <li><a href="#">Child node 6</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Inline Data</h6>
          </div>
          <div class="card-body">
              <div id="data" class="demo"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Data Format</h6>
          </div>
          <div class="card-body">
              <div id="frmt" class="demo"></div>         
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Ajax Demo</h6>
          </div>
          <div class="card-body">
              <div id="ajax" class="demo"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>