<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Form Survay/Feedback</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-body">
            <h5 class="m-0">Form Survay/Feedback</h5>
            <hr> 
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>This Survay report about?</label><br>
                                <label class="custom-control custom-checkbox" for="option1">
                                    <input type="checkbox" class="custom-control-input"  id="option1" checked>
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">School</span>
                                </label>
                                <label class="custom-control custom-checkbox" for="option2">
                                    <input type="checkbox" class="custom-control-input"  id="option2"  >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Campus</span>
                                </label>
                                <label class="custom-control custom-checkbox" for="option3">
                                    <input type="checkbox" class="custom-control-input"  id="option3" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Hostel</span>
                                </label>
                                <label class="custom-control custom-checkbox" for="option4">
                                    <input type="checkbox" class="custom-control-input"  id="option4" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Managment</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>How you think size of the campus is good for students?</label><br>
                                <label class="custom-control custom-radio" for="2option1">
                                    <input type="radio" class="custom-control-input" name="radio2" id="2option1" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Good</span>
                                </label>
                                <label class="custom-control custom-radio" for="2option2">
                                    <input type="radio" class="custom-control-input" name="radio2" id="2option2" checked >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Fair</span>
                                </label>
                                <label class="custom-control custom-radio" for="2option3">
                                    <input type="radio" class="custom-control-input" name="radio2" id="2option3" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Poor</span>
                                </label>
                                <label class="custom-control custom-radio" for="2option4">
                                    <input type="radio" class="custom-control-input" name="radio2" id="2option4" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Very poor</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>What you think about facility and membership available are good or not?</label><br>
                                <label class="custom-control custom-radio" for="3option1">
                                    <input type="radio" class="custom-control-input" name="radio3" id="3option1" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Good</span>
                                </label>
                                <label class="custom-control custom-radio" for="3option2">
                                    <input type="radio" class="custom-control-input" name="radio3" id="3option2" checked >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Fair</span>
                                </label>
                                <label class="custom-control custom-radio" for="3option3">
                                    <input type="radio" class="custom-control-input" name="radio3" id="3option3" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Poor</span>
                                </label>
                                <label class="custom-control custom-radio" for="3option4">
                                    <input type="radio" class="custom-control-input" name="radio3" id="3option4" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Very poor</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>The new aminities are going to build in left corner, So what you think about decision taken by management?</label><br>
                                <label class="custom-control custom-radio" for="4option1">
                                    <input type="radio" class="custom-control-input" name="radio4" id="4option1" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Good</span>
                                </label><br>
                                <label class="custom-control custom-radio" for="4option2">
                                    <input type="radio" class="custom-control-input" name="radio4" id="4option2" checked >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Fair</span>
                                </label><br>
                                <label class="custom-control custom-radio" for="4option3">
                                    <input type="radio" class="custom-control-input" name="radio4" id="4option3" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Poor</span>
                                </label><br>
                                <label class="custom-control custom-radio" for="4option4">
                                    <input type="radio" class="custom-control-input" name="radio4" id="4option4" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Very poor</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-16 col-md-16">
                            <div class="form-group ">
                                <label>Overall you think about organization is ...</label><br>
                                <label class="custom-control custom-checkbox" for="2c-option1">
                                    <input type="checkbox" class="custom-control-input"  id="2c-option1" checked>
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Awesome place</span>
                                </label><br>
                                <label class="custom-control custom-checkbox" for="2c-option2">
                                    <input type="checkbox" class="custom-control-input"  id="2c-option2"  >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Good Campus</span>
                                </label><br>
                                <label class="custom-control custom-checkbox" for="2c-option3">
                                    <input type="checkbox" class="custom-control-input"  id="2c-option3" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Nice Managment</span>
                                </label><br>
                                <label class="custom-control custom-checkbox" for="2c-option4">
                                    <input type="checkbox" class="custom-control-input"  id="2c-option4" >
                                    <span class="custom-control-indicator"></span> 
                                    <span class="custom-control-description">Staff is good</span>
                                </label><br>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
          </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Cancel</button>
                <button class="btn btn-success pull-right">Submit</button>
            </div>    
        </div>
      </div>
    </div>
  </div>