<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  <div class="col"></div>
  <div class=" pull-right" >
    <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <h1 class="form-signin-heading text-white"><i class="fa fa-trophy"></i> Adminux</h1>
    <form class="form-signin1 light" >
      <h2 class="tex-black mb-4">Sign in</h2>
      <label  class="sr-only">Email address</label>
      <input type="text" class="form-control" placeholder="Email address" >
      <br>
      <label class="sr-only">Password</label>
      <input type="text" class="form-control" placeholder="Paassword">
      <br>
      <div class="checkbox">
        <label class="form-check-label active">
          <input type="checkbox" class="form-check-input">
          <i class="fa fa-check"></i></label>
        Remember me </div>
      <a routerLink="/dashboard/manufacture" class="btn btn-lg btn-primary btn-round">Sign in</a><br>
      <a href="" class="btn btn-link mt-2 text-white">Forgot password?</a>
    </form>
    <p class="mt-3">Dont have account yet? <a href="#" class="text-white">Signup here</a>!</p>
  </div>
  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8">This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-8 text-right"><a href="#" target="_blank" class="">Privacy Policy</a> | <a href="#" target="_blank" class="">Terms of use</a> </div>
  </footer>
</div>