<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Cards</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-white">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <img class="responsive-img" src="assets/img/product1.jpg" alt="Card image cap"><br>
            <br>
            <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a> <a href="#" class="card-link">Another link</a> </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-white">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-white">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a> <a href="#" class="card-link">Another link</a> </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-white">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card" > <img class="card-img-top" src="assets/img/product3.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-white">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body"> <a href="#" class="card-link">Card link</a> <a href="#" class="card-link">Another link</a> </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card">
          <h3 class="card-header">Featured</h3>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
        <div class="card text-center">
          <div class="card-header"> Featured </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
          <div class="card-footer text-muted"> 2 days ago </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-white">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
        <div class="card">
          <div class="card-body"> This is some text within a card block. </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item"> <a class="nav-link active" href="#">Active</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
              <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item"> <a class="nav-link active" href="#">Active</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
              <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>
            </ul>
          </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center text-white bg-warning">
          <div class="card-header"> Featured </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-white">Go somewhere</a> </div>
          <div class="card-footer  bg-warning"> 2 days ago </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center text-white bg-primary">
          <div class="card-header"> Featured </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-white">Go somewhere</a> </div>
          <div class="card-footer  bg-primary"> 2 days ago </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center text-white gradient">
          <div class="p-2 mb-2 gradient"> Featured </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-white">Go somewhere</a> </div>
          <div class="p-2   "> 2 days ago </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-8">
        <div class="card text-center text-white">
          <div class="p-2 mb-2 gradient"> Featured </div>
          <div class="card-body">
            <h4 class="card-title text-white">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-white">Go somewhere</a> </div>
          <div class="card-footer "> 2 days ago </div>
        </div>
      </div>
    </div>
  </div>