<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Forum</h3>
        <p>Start Discusion and find the perfact solution</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <strong>Awesome!</strong> We have introduced forum page 
    </div>
      
    <div class="row">
      <div class="col-sm-16">
        <div class="card full-screen-container">
          <div class="card-header">
            <h6 class="card-title pull-left">Find Topic</h6>
               <ul class="nav nav-pills card-header-pills pull-left ml-2">
                  <li class="nav-item">
                      <select class="form-control">
                        <option>Primary</option>
                        <option>Imortant</option>
                        <option>Trending</option>
                        <option>Detailed</option>
                        <option>Other</option>
                      </select>
                  </li>
                  <li class="nav-item ml-2">
                      <select class="form-control">
                        <option>All</option>
                        <option>National</option>
                        <option>Internaltional</option>
                        <option>Inside </option>
                        <option>Outside</option>
                      </select>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm btn-primary "><i class="fa fa-search"></i> <span class="text">Search</span></button>
                  </li>
                   <li class="ml-3"><span class="btn btn-danger"> All Latest </span></li>
                </ul>
              
                <ul class="nav nav-pills card-header-pills pull-right">
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round"><i class="fa fa-refresh"></i></button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
                  </li>
                </ul>
          </div>
          <div class="card-body">
              <table class="table table-striped  mb-0">
                    <thead>
                        <tr>
                            <th>Topic</th>  
                            <th data-breakpoints="xs sm" width="200">Category</th>  
                            <th data-breakpoints="xs sm " width="200">Users</th>    
                            <th data-breakpoints="xs sm" width="100">Replies</th>    
                            <th data-breakpoints="xs sm md" width="100">Views</th>    
                            <th data-breakpoints="xs sm md" width="100">Activity</th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <h4 class="forum_title">All about template and details</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                                </div>
                                <a href="" class="btn btn-outline-danger btn-sm">Bootstrap</a> <a href="" class="btn btn-outline-info btn-sm">AdminUX</a> <a href="" class="btn btn-outline-primary btn-sm">Creativity</a>
                            </td>
                            <td><a class="nav-link status-success">Primary</a></td>
                            <td><img src="assets/img/team.png" alt="" class="gridpic"><img src="assets/img/team2.png" alt="" class="gridpic"><img src="assets/img/user-header.png" alt="" class="gridpic"></td>
                            <td>25</td>
                            <td>6.2K</td>
                            <td>May'17</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <h4 class="forum_title">We like the new updates</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                                </div>
                                <a href="" class="btn btn-outline-warning btn-sm">Bootstrap</a> <a href="" class="btn btn-outline-info btn-sm">AdminUX</a> <a href="" class="btn btn-outline-primary btn-sm">Creativity</a>
                            </td>
                            <td><a class="nav-link status-info">Important</a></td>
                            <td><img src="assets/img/team.png" alt="" class="gridpic"><img src="assets/img/team2.png" alt="" class="gridpic"><img src="assets/img/user-header.png" alt="" class="gridpic"></td>
                            <td>25</td>
                            <td>6.2K</td>
                            <td>May'17</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <h4 class="forum_title">Share template it takes a second</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                                </div>
                                <a href="" class="btn btn-outline-info btn-sm">Bootstrap</a> <a href="" class="btn btn-outline-danger btn-sm">Creativity</a>
                            </td>
                            <td><a class="nav-link status-warning">Trending</a></td>
                            <td><img src="assets/img/team.png" alt="" class="gridpic"><img src="assets/img/team2.png" alt="" class="gridpic"><img src="assets/img/user-header.png" alt="" class="gridpic"></td>
                            <td>25</td>
                            <td>6.2K</td>
                            <td>May'17</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <h4 class="forum_title">Thanks for all the comments</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                                </div>
                                <a href="" class="btn btn-outline-warning btn-sm">Bootstrap</a>
                            </td>
                            <td><a class="nav-link status-danger">Detailed</a></td>
                            <td><img src="assets/img/team.png" alt="" class="gridpic"><img src="assets/img/team2.png" alt="" class="gridpic"><img src="assets/img/user-header.png" alt="" class="gridpic"></td>
                            <td>25</td>
                            <td>6.2K</td>
                            <td>May'17</td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <h4 class="forum_title">All about template and details</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet.</p>
                                </div>
                                <a href="" class="btn btn-outline-info btn-sm">Bootstrap</a> <a href="" class="btn btn-outline-warning btn-sm">AdminUX</a> <a href="" class="btn btn-outline-primary btn-sm">Creativity</a>
                            </td>
                            <td><a class="nav-link status-primary">Other</a></td>
                            <td><img src="assets/img/team.png" alt="" class="gridpic"><img src="assets/img/team2.png" alt="" class="gridpic"><img src="assets/img/user-header.png" alt="" class="gridpic"></td>
                            <td>25</td>
                            <td>6.2K</td>
                            <td>May'17</td>
                        </tr>
                    </tbody>
              
              </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>