<figure class="background"><img src="assets/img/error.png" alt=""></figure>
<div class="container"> <br>
  <div class="row">
    <div class="col-lg-10 col-md-12 m-auto">
      <div class="row">
        <form class="form-signin1 light_bg text-center">
          <br>
          <h3 class="display-2 text-danger"><strong>404</strong></h3>
          <h2 class="text-danger">Page not found</h2>
          <p class="text-white">Sorry! There might be some error on this page...</p>
          <a href="index.html" class="btn btn-lg btn-primary btn-round">Go back to Home</a> <br>
          <br>
          <p class="text-white">Stay connected, Subscribe us</p>
          <div class="input-group subscribe justify-content-center">
            <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
            <button class="input-group-addon btn btn-outline-primary" id="basic-addon2">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>