<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>AutoComplete</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ngx-bootstrap AutoComplete</h6>
          </div>
          <div class="card-body">
            <input [(ngModel)]="selected" [typeahead]="states"   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ngx-bootstrap AutoComplete scrollable</h6>
          </div>
          <div class="card-body">
            <input [(ngModel)]="selected" [typeahead]="states" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5"   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>