<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Alerts and Notes</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Alerts</h6>
          </div>
          <div class="card-body">
            <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div>
            <div class="alert alert-info" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
            <div class="alert alert-primary" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
            <div class="alert alert-warning" role="alert"> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>
            <div class="alert alert-danger" role="alert"> <strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Notes</h6>
          </div>
          <div class="card-body">
            <div class="notes notes-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div>
            <div class="notes notes-info" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
            <div class="notes notes-primary" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
            <div class="notes notes-warning" role="alert"> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>
            <div class="notes notes-danger" role="alert"> <strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Alerts + Close</h6>
          </div>
          <div class="card-body">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
              <strong>Holy guacamole!</strong> You should check in on some of those fields below. </div>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
              <strong>Holy guacamole!</strong> You should check in on some of those fields below. </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
              <strong>Holy guacamole!</strong> You should check in on some of those fields below. </div>
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Alerts - Additional Content</h6>
          </div>
          <div class="card-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Well done!</h4>
              <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
              <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ngxbootstrap Alerts + Close</h6>
          </div>
          <div class="card-body">
            
            <alert type="success">
			  <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
			</alert>
			<alert type="info">
			  <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
			</alert>
			<alert type="warning">
			  <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
			</alert>
			<alert type="danger">
			  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
			</alert>
            
          </div>
        </div>
      </div>
      <div class="col-sm-16 col-md-8">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">ngxbootstrap Alert</h6>
          </div>
          <div class="card-body">
	            <alert type="success">
				  <h4 class="alert-heading">Well done!</h4>
				  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
				  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
				</alert>
          </div>
        </div>
      </div>
    </div>
    
  </div>