<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Forum</h3>
        <p>Start Discusion and find the perfact solution</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        <strong>Awesome!</strong> We have introduced forum page 
    </div>
      
    <div class="row">
      <div class="col-sm-16">
        <div class="card full-screen-container">
          <div class="card-header">
            <h6 class="card-title pull-left">Find Topic</h6>
               <ul class="nav nav-pills card-header-pills pull-left ml-2">
                  <li class="nav-item">
                      <select class="form-control">
                        <option>Primary</option>
                        <option>Imortant</option>
                        <option>Trending</option>
                        <option>Detailed</option>
                        <option>Other</option>
                      </select>
                  </li>
                  <li class="nav-item ml-2">
                      <select class="form-control">
                        <option>All</option>
                        <option>National</option>
                        <option>Internaltional</option>
                        <option>Inside </option>
                        <option>Outside</option>
                      </select>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm btn-primary "><i class="fa fa-search"></i> <span class="text">Search</span></button>
                  </li>
                   <li class="ml-3"><span class="btn btn-danger"> All Latest </span></li>
                </ul>
              
                <ul class="nav nav-pills card-header-pills pull-right">
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round"><i class="fa fa-refresh"></i></button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-sm btn-link btn-round fullscreen-btn"><i class="fa fa-arrows-alt"></i></button>
                  </li>
                </ul>
          </div>
          <div class="card-body">
              <table class="table mb-0" data-show-toggle="false">
                    <thead>
                        <tr>
                            <th>Category</th>  
                            <th data-breakpoints="xs sm" width="200">Topics</th>  
                            <th data-breakpoints="xs sm md" width="400">Latest</th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="status-success">
                                <div>
                                    <h4 class="forum_title">Primary</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                                </div>
                            </td>
                            <td width="200"><h5>30<small>/week</small></h5></td>
                            <td>
                                <p>
                                    <a href="#">Introducing AdminUX <span class="text-warning">20min</span></a><br>
                                    <a href="#">Next planning for AdminUX Mobile <span class="text-warning">20min</span></a><br>
                                    <a href="#">New forum page released <span class="text-warning">20min</span></a><br>
                                    <a href="#">Get more creativity <span class="text-warning">20min</span></a>
                                </p>
                            </td> 
                        </tr>
                        <tr>
                            <td class="status-info">
                                <div>
                                    <h4 class="forum_title">Important</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                                </div>
                            </td>
                            <td width="200"><h5>30<small>/week</small></h5></td>
                            <td>
                                <p>
                                    <a href="#">Introducing AdminUX <span class="text-warning">20min</span></a><br>
                                    <a href="#">Next planning for AdminUX Mobile <span class="text-warning">20min</span></a><br>
                                    <a href="#">New forum page released <span class="text-warning">20min</span></a><br>
                                    <a href="#">Get more creativity <span class="text-warning">20min</span></a>
                                </p>
                            </td> 
                        </tr>
                        <tr>
                            <td class="status-warning">
                                <div>
                                    <h4 class="forum_title">Trending</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                                </div>
                            </td>
                            <td width="200"><h5>30<small>/week</small></h5></td>
                            <td>
                                <p>
                                    <a href="#">Introducing AdminUX <span class="text-warning">20min</span></a><br>
                                    <a href="#">Next planning for AdminUX Mobile <span class="text-warning">20min</span></a><br>
                                    <a href="#">New forum page released <span class="text-warning">20min</span></a><br>
                                    <a href="#">Get more creativity <span class="text-warning">20min</span></a>
                                </p>
                            </td> 
                        </tr>
                        <tr>
                            <td class="status-danger">
                                <div>
                                    <h4 class="forum_title">Detailed</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                                </div>
                            </td>
                            <td width="200"><h5>30<small>/week</small></h5></td>
                            <td>
                                <p>
                                    <a href="#">Introducing AdminUX <span class="text-warning">20min</span></a><br>
                                    <a href="#">Next planning for AdminUX Mobile <span class="text-warning">20min</span></a><br>
                                    <a href="#">New forum page released <span class="text-warning">20min</span></a><br>
                                    <a href="#">Get more creativity <span class="text-warning">20min</span></a>
                                </p>
                            </td> 
                        </tr>
                        <tr>
                            <td class="status-primary">
                                <div>
                                    <h4 class="forum_title">Other</h4>
                                    <p class="">We have provided many different components along with the different CSS stylesheet which provides customization to main frontend and you can use for different plateform and projects. However we have also included SCSS files so you can easily change color scheme as per your brand color or choices. We have used bootstrap 4 the new generation framework.</p>
                                </div>
                            </td>
                            <td width="200"><h5>30<small>/week</small></h5></td>
                            <td>
                                <p>
                                    <a href="#">Introducing AdminUX <span class="text-warning">20min</span></a><br>
                                    <a href="#">Next planning for AdminUX Mobile <span class="text-warning">20min</span></a><br>
                                    <a href="#">New forum page released <span class="text-warning">20min</span></a><br>
                                    <a href="#">Get more creativity <span class="text-warning">20min</span></a>
                                </p>
                            </td> 
                        </tr>
                    </tbody>
              
              </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>