<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Search result for "Adminux by Maxartkiller"</h3>
        <p>showing 5 of 30000 results</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="col-sm-16 p-0">
      <div class="col-sm-16 ">
        <ul class="nav flex-column ">
          <li class="nav-item">
            <div class="list-unstyled search-list"> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Adminux #1 and Very impressive admin template ever</h6>
                <p class="truncate">http://www.maxartkiller.in</p>
                <p class="description">UI/UX, UI, UX,bootstrap,ionic,angular,mobile, web, design,HTML,theme, template, latest, 2016, 2017, Responsive, wordpress, download, creative,Interaction.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Mobilizer HTML, Touch optimized, responsive tablet and ... - Maxartkiller</h6>
                <p class="truncate"> https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggfMAE&url=http%3A%2F%2Fmaxartkiller.in%2Fmobilizer-html-touch-optimized-responsive-tablet-and-mobile-template%2F&usg=AFQjCNGYPWolM3GF1fNhr5ZVCJhrJGu5ww&sig2=OsyKxJzSbtVafMgzGJeZ9g&bvm=bv.149397726,d.c2I</p>
                <p class="description">Best, creative and cheerful feature loaded with Material UI. Max Smart is multipurpose mobile and tablet responsive HTML template. You can use it as website ..</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Maxartkiller's profile on ThemeForest</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggkMAI&url=https%3A%2F%2Fthemeforest.net%2Fuser%2Fmaxartkiller&usg=AFQjCNHlojtT_tm6MdWTeTmWmREG2NO5pA&sig2=JNYjG42iSbMrP3BjMaB0eQ&bvm=bv.149397726,d.c2I</p>
                <p class="description">Discover Maxartkiller's profile and see what items they have for sale, or find great items you may have missed by checking out their collections.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Admin9 | Responsive admin HTML Bootstrap template by Maxartkiller ...</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggpMAM&url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fadmin9-responsive-admin-html-bootstrap-template%2F17967647&usg=AFQjCNEft7FI54I4B6uBPglYVYrcmDFkVw&sig2=23oO_r-_haICt7xjWO8WqA&bvm=bv.149397726,d.c2I</p>
                <p class="description">Oct 6, 2016 - Buy Admin9 | Responsive admin HTML Bootstrap template by Maxartkiller on ThemeForest. Admin9 is admin HTML template. Built with ...</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Maxartkiller | Facebook</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=5&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggwMAQ&url=https%3A%2F%2Fwww.facebook.com%2Fmaxartkiller%2F&usg=AFQjCNHUQHL_cAVd-bHn5QqowZ50dSviiw&sig2=0753uF_mYp1MopUdgmr49w&bvm=bv.149397726,d.c2I</p>
                <p class="description">UI/UX, Visual design, Interface design, Painting, Craft , Art work and Design work. ... RockOn materialize responsive HTML admin template by Maxartkiller | ...</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Beautiful admin template ever</h6>
                <p class="truncate">http://www.maxartkiller.in</p>
                <p class="description">UI/UX, UI, UX,bootstrap,ionic,angular,mobile, web, design,HTML,theme, template, latest, 2016, 2017, Responsive, wordpress, download, creative,Interaction.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Mobilizer HTML, Touch optimized, responsive tablet and ... - Maxartkiller</h6>
                <p class="truncate"> https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggfMAE&url=http%3A%2F%2Fmaxartkiller.in%2Fmobilizer-html-touch-optimized-responsive-tablet-and-mobile-template%2F&usg=AFQjCNGYPWolM3GF1fNhr5ZVCJhrJGu5ww&sig2=OsyKxJzSbtVafMgzGJeZ9g&bvm=bv.149397726,d.c2I</p>
                <p class="description">Best, creative and cheerful feature loaded with Material UI. Max Smart is multipurpose mobile and tablet responsive HTML template. You can use it as website ..</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Maxartkiller's profile on ThemeForest</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggkMAI&url=https%3A%2F%2Fthemeforest.net%2Fuser%2Fmaxartkiller&usg=AFQjCNHlojtT_tm6MdWTeTmWmREG2NO5pA&sig2=JNYjG42iSbMrP3BjMaB0eQ&bvm=bv.149397726,d.c2I</p>
                <p class="description">Discover Maxartkiller's profile and see what items they have for sale, or find great items you may have missed by checking out their collections.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Admin9 | Responsive admin HTML Bootstrap template by Maxartkiller ...</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggpMAM&url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fadmin9-responsive-admin-html-bootstrap-template%2F17967647&usg=AFQjCNEft7FI54I4B6uBPglYVYrcmDFkVw&sig2=23oO_r-_haICt7xjWO8WqA&bvm=bv.149397726,d.c2I</p>
                <p class="description">Oct 6, 2016 - Buy Admin9 | Responsive admin HTML Bootstrap template by Maxartkiller on ThemeForest. Admin9 is admin HTML template. Built with ...</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Maxartkiller | Facebook</h6>
                <p class="truncate">https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=5&cad=rja&uact=8&ved=0ahUKEwjEj8rM79DSAhVBRo8KHUidCg8QFggwMAQ&url=https%3A%2F%2Fwww.facebook.com%2Fmaxartkiller%2F&usg=AFQjCNHUQHL_cAVd-bHn5QqowZ50dSviiw&sig2=0753uF_mYp1MopUdgmr49w&bvm=bv.149397726,d.c2I</p>
                <p class="description">UI/UX, Visual design, Interface design, Painting, Craft , Art work and Design work. ... RockOn materialize responsive HTML admin template by Maxartkiller | ...</p>
              </div>
              </a> </div>
          </li>
        </ul>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col "> <br>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a> </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a> </li>
          </ul>
        </nav>
        <hr>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">Popular People</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled member-list row">
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="assets/img/user-header.png" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">Popular Project</h5>
          </div>
          <div class="card-body">
            <div class="list-unstyled project-list row">
              <div class="col-md-16 col-lg-8 col-xl-8">
                <div class="media flex-column "> <span class="projectpic"><img src="assets/img/project_pic.jpg" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="overlay ">
                    <label class="ribbon danger left"><span>Maxartkiller</span></label>
                    <h6 class="mt-0 mb-1">Website Design</h6>
                    2017 <br>
                    <br>
                    <a href="#" class="btn btn-outline-white btn-round "><i class="fa fa-eye"></i>View </a> </div>
                </div>
              </div>
              <div class="col-md-16 col-lg-8 col-xl-8">
                <div class="media flex-column "> <span class="projectpic"><img src="assets/img/project_pic.jpg" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="overlay ">
                    <label class="ribbon danger left"><span>Maxartkiller</span></label>
                    <h6 class="mt-0 mb-1">Website Design</h6>
                    2017 <br>
                    <br>
                    <a href="#" class="btn btn-outline-white btn-round "><i class="fa fa-eye"></i>View </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>