<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Blogs</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="col-sm-8 col-lg-30">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>
          <div class="col-sm-8 col-lg-30">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>
          <div class="col-sm-8 col-lg-30">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>        
    </div>
    <br>
      <div class="row ">
        <div class="container ">
            <nav aria-label="..." class="align-self-center">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav> 
        </div>
    </div>
      <br><br>
    <div class="row">
          <div class="col-sm-8">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>
    </div>
    <br>
      <div class="row ">
        <div class="container ">
            <nav aria-label="..." class="align-self-center">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav> 
        </div>
    </div>
      <br><br>
    <div class="row">
          <div class="col-sm-16">
            <div class="card"> <img class="card-img-top" src="assets/img/product2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title ">Creativity with wide streamed internet websites.</h4>
                <p>20 January, 2017, Author: <a href="">Maxartkiller</a></p>
                <p class="card-text">Creativity is undefined or we can say there is no any specific defination for creativity, its phenomenon. Something by which new and innovation made its creativity. Whatever outcome we get if it has a WOW factor then it is creative. Practically creativity can be ideas, music theme, art, craft, innovation, hardware, software etc. 
    In my word Creativity is thought process by which we generate new with wow factor and innovate something awesome things</p>
                <a href="#" class="btn btn-link">Read More...</a> 
                    <ul class="nav pull-right">
                        <li class="nav-item"><span class="nav-link">Share:</span> </li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook text-primary"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter text-info"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus text-danger"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin text-success"></i></a></li>
                      </ul>
                </div>
            </div>
          </div>
    </div>
    <br>
      <div class="row ">
        <div class="container ">
            <nav aria-label="..." class="align-self-center">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav> 
        </div>
    </div>
  </div><br><br>