<div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>World Flags</h3>
        <p>Creatively crafted Dashboard for your needs</p>
      </div>
      <div class="col text-right ">
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker" ><span class="text">Customize</span> <i class="fa fa-cogs ml-2"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Flags</h6>
          </div>
          <div class="card-body">
            <p>Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)<br>
              Insert a transparent 1x1 pixel image and assign a class <code>flag</code> and <code>flag-(country code)</code>. <br>
              The country code is in the format <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>. For example, the flag of the Czech Republic:</p>
            <br>
            <div class="country-group">
              <h3>Africa</h3>
              <div class="row">
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-dz"></span> Algeria <span>(dz)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ao"></span> Angola <span>(ao)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-bj"></span> Benin <span>(bj)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-bw"></span> Botswana <span>(bw)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-bf"></span> Burkina Faso <span>(bf)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-bi"></span> Burundi <span>(bi)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-cm"></span> Cameroon <span>(cm)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-cv"></span> Cape Verde <span>(cv)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-cf"></span> Central African Republic <span>(cf)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-td"></span> Chad <span>(td)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-km"></span> Comoros <span>(km)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-cg"></span> Congo <span>(cg)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-cd"></span> Congo, The Democratic Republic of the <span>(cd)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ci"></span> Cote d'Ivoire <span>(ci)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-dj"></span> Djibouti <span>(dj)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-eg"></span> Egypt <span>(eg)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-gq"></span> Equatorial Guinea <span>(gq)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-er"></span> Eritrea <span>(er)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-et"></span> Ethiopia <span>(et)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ga"></span> Gabon <span>(ga)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-gm"></span> Gambia <span>(gm)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-gh"></span> Ghana <span>(gh)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-gn"></span> Guinea <span>(gn)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-gw"></span> Guinea-Bissau <span>(gw)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ke"></span> Kenya <span>(ke)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ls"></span> Lesotho <span>(ls)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-lr"></span> Liberia <span>(lr)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ly"></span> Libya <span>(ly)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-mg"></span> Madagascar <span>(mg)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-mw"></span> Malawi <span>(mw)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ml"></span> Mali <span>(ml)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-mr"></span> Mauritania <span>(mr)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-mu"></span> Mauritius <span>(mu)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-yt"></span> Mayotte <span>(yt)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ma"></span> Morocco <span>(ma)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-mz"></span> Mozambique <span>(mz)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-na"></span> Namibia <span>(na)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ne"></span> Niger <span>(ne)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ng"></span> Nigeria <span>(ng)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-re"></span> Reunion <span>(re)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-rw"></span> Rwanda <span>(rw)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sh"></span> Saint Helena <span>(sh)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-st"></span> Sao Tome and Principe <span>(st)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sn"></span> Senegal <span>(sn)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sc"></span> Seychelles <span>(sc)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sl"></span> Sierra Leone <span>(sl)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-so"></span> Somalia <span>(so)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-za"></span> South Africa <span>(za)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ss"></span> South Sudan <span>(ss)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sd"></span> Sudan <span>(sd)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-sz"></span> Swaziland <span>(sz)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-tz"></span> Tanzania <span>(tz)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-tg"></span> Togo <span>(tg)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-tn"></span> Tunisia <span>(tn)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-ug"></span> Uganda <span>(ug)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-eh"></span> Western Sahara <span>(eh)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-zm"></span> Zambia <span>(zm)</span></label>
                  </div>
                  <div class="col-md-8 col-lg-4">
                    <label> <span class="flag flag-zw"></span> Zimbabwe <span>(zw)</span></label>
                  </div>
                </div>
            </div>
            <br>
            <div class="country-group">
              <h3>America</h3>
              <div class="row">
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ai"></span> Anguilla <span>(ai)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ag"></span> Antigua and Barbuda <span>(ag)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ar"></span> Argentina <span>(ar)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-aw"></span> Aruba <span>(aw)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bs"></span> Bahamas <span>(bs)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bb"></span> Barbados <span>(bb)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bz"></span> Belize <span>(bz)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bm"></span> Bermuda <span>(bm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bo"></span> Bolivia, Plurinational State of <span>(bo)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-br"></span> Brazil <span>(br)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ca"></span> Canada <span>(ca)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ky"></span> Cayman Islands <span>(ky)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-cl"></span> Chile <span>(cl)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-co"></span> Colombia <span>(co)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label for="country-cr"> <span class="flag flag-cr"></span> Costa Rica <span>(cr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-cu"></span> Cuba <span>(cu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label for="country-cw"> <span class="flag flag-cw"></span> Curacao <span>(cw)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-dm"></span> Dominica <span>(dm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-do"></span> Dominican Republic <span>(do)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ec"></span> Ecuador <span>(ec)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sv"></span> El Salvador <span>(sv)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fk"></span> Falkland Islands (Malvinas) <span>(fk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gf"></span> French Guiana <span>(gf)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gl"></span> Greenland <span>(gl)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gd"></span> Grenada <span>(gd)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gp"></span> Guadeloupe <span>(gp)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gt"></span> Guatemala <span>(gt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gy"></span> Guyana <span>(gy)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ht"></span> Haiti <span>(ht)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-hn"></span> Honduras <span>(hn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-jm"></span> Jamaica <span>(jm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mq"></span> Martinique <span>(mq)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mx"></span> Mexico <span>(mx)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ms"></span> Montserrat <span>(ms)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-an"></span> Netherlands Antilles <span>(an)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ni"></span> Nicaragua <span>(ni)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pa"></span> Panama <span>(pa)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-py"></span> Paraguay <span>(py)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pe"></span> Peru <span>(pe)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pr"></span> Puerto Rico <span>(pr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kn"></span> Saint Kitts and Nevis <span>(kn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lc"></span> Saint Lucia <span>(lc)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pm"></span> Saint Pierre and Miquelon <span>(pm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-vc"></span> Saint Vincent and the Grenadines <span>(vc)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sx"></span> Sint Maarten <span>(sx)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sr"></span> Suriname <span>(sr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tt"></span> Trinidad and Tobago <span>(tt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tc"></span> Turks and Caicos Islands <span>(tc)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-us"></span> United States <span>(us)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-uy"></span> Uruguay <span>(uy)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ve"></span> Venezuela, Bolivarian Republic of <span>(ve)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-vg"></span> Virgin Islands, British <span>(vg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-vi"></span> Virgin Islands, U.S. <span>(vi)</span></label>
                </div>
              </div>
            </div>
            <br>
            <div class="country-group">
              <h3>Asia</h3>
              <div class="row">
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-af"></span> Afghanistan <span>(af)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-am"></span> Armenia <span>(am)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-az"></span> Azerbaijan <span>(az)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bh"></span> Bahrain <span>(bh)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bd"></span> Bangladesh <span>(bd)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bt"></span> Bhutan <span>(bt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bn"></span> Brunei Darussalam <span>(bn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kh"></span> Cambodia <span>(kh)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-cn"></span> China <span>(cn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-cy"></span> Cyprus <span>(cy)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ge"></span> Georgia <span>(ge)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-hk"></span> Hong Kong <span>(hk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-in"></span> India <span>(in)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-id"></span> Indonesia <span>(id)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ir"></span> Iran, Islamic Republic of <span>(ir)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-iq"></span> Iraq <span>(iq)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-il"></span> Israel <span>(il)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-jp"></span> Japan <span>(jp)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-jo"></span> Jordan <span>(jo)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kz"></span> Kazakhstan <span>(kz)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kp"></span> Korea, Democratic People's Republic of <span>(kp)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kr"></span> Korea, Republic of <span>(kr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kw"></span> Kuwait <span>(kw)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kg"></span> Kyrgyzstan <span>(kg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-la"></span> Lao People's Democratic Republic <span>(la)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lb"></span> Lebanon <span>(lb)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mo"></span> Macao <span>(mo)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-my"></span> Malaysia <span>(my)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mv"></span> Maldives <span>(mv)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mn"></span> Mongolia <span>(mn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mm"></span> Myanmar <span>(mm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-np"></span> Nepal <span>(np)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-om"></span> Oman <span>(om)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pk"></span> Pakistan <span>(pk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ps"></span> Palestinian Territory, Occupied <span>(ps)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ph"></span> Philippines <span>(ph)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-qa"></span> Qatar <span>(qa)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sa"></span> Saudi Arabia <span>(sa)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sg"></span> Singapore <span>(sg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lk"></span> Sri Lanka <span>(lk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sy"></span> Syrian Arab Republic <span>(sy)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tw"></span> Taiwan, Province of China <span>(tw)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tj"></span> Tajikistan <span>(tj)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-th"></span> Thailand <span>(th)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tl"></span> Timor-Leste <span>(tl)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tr"></span> Turkey <span>(tr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tm"></span> Turkmenistan <span>(tm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ae"></span> United Arab Emirates <span>(ae)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-uz"></span> Uzbekistan <span>(uz)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-vn"></span> Viet Nam <span>(vn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ye"></span> Yemen <span>(ye)</span></label>
                </div>
              </div>
            </div>
            <br>
            <div class="country-group">
              <h3>Europe</h3>
              <div class="row">
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ax"></span> Aland Islands <span>(ax)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-al"></span> Albania <span>(al)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ad"></span> Andorra <span>(ad)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-at"></span> Austria <span>(at)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-by"></span> Belarus <span>(by)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-be"></span> Belgium <span>(be)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ba"></span> Bosnia and Herzegovina <span>(ba)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bg"></span> Bulgaria <span>(bg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-hr"></span> Croatia <span>(hr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-cz"></span> Czech Republic <span>(cz)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-dk"></span> Denmark <span>(dk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ee"></span> Estonia <span>(ee)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fo"></span> Faroe Islands <span>(fo)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fi"></span> Finland <span>(fi)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fr"></span> France <span>(fr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-de"></span> Germany <span>(de)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gi"></span> Gibraltar <span>(gi)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gr"></span> Greece <span>(gr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gg"></span> Guernsey <span>(gg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-va"></span> Holy See (Vatican City State) <span>(va)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-hu"></span> Hungary <span>(hu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-is"></span> Iceland <span>(is)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ie"></span> Ireland <span>(ie)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-im"></span> Isle of Man <span>(im)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-it"></span> Italy <span>(it)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-je"></span> Jersey <span>(je)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-xk"></span> Kosovo <span>(xk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lv"></span> Latvia <span>(lv)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-li"></span> Liechtenstein <span>(li)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lt"></span> Lithuania <span>(lt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-lu"></span> Luxembourg <span>(lu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mk"></span> Macedonia, The Former Yugoslav Republic of <span>(mk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mt"></span> Malta <span>(mt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-md"></span> Moldova, Republic of <span>(md)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mc"></span> Monaco <span>(mc)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-me"></span> Montenegro <span>(me)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nl"></span> Netherlands <span>(nl)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-no"></span> Norway <span>(no)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pl"></span> Poland <span>(pl)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pt"></span> Portugal <span>(pt)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ro"></span> Romania <span>(ro)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ru"></span> Russian Federation <span>(ru)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sm"></span> San Marino <span>(sm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-rs"></span> Serbia <span>(rs)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sk"></span> Slovakia <span>(sk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-si"></span> Slovenia <span>(si)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-es"></span> Spain <span>(es)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sj"></span> Svalbard and Jan Mayen <span>(sj)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-se"></span> Sweden <span>(se)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label for="country-ch"> <span class="flag flag-ch"></span> Switzerland <span>(ch)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ua"></span> Ukraine <span>(ua)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gb"></span> United Kingdom <span>(gb)</span></label>
                </div>
              </div>
            </div>
            <br>
            <div class="country-group">
              <h3>Australia and Oceania</h3>
              <div class="row">
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-as"></span> American Samoa <span>(as)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-au"></span> Australia <span>(au)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ck"></span> Cook Islands <span>(ck)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fj"></span> Fiji <span>(fj)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pf"></span> French Polynesia <span>(pf)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gu"></span> Guam <span>(gu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ki"></span> Kiribati <span>(ki)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mh"></span> Marshall Islands <span>(mh)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-fm"></span> Micronesia, Federated States of <span>(fm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nr"></span> Nauru <span>(nr)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nc"></span> New Caledonia <span>(nc)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nz"></span> New Zealand <span>(nz)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nu"></span> Niue <span>(nu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-nf"></span> Norfolk Island <span>(nf)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-mp"></span> Northern Mariana Islands <span>(mp)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pw"></span> Palau <span>(pw)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pg"></span> Papua New Guinea <span>(pg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-pn"></span> Pitcairn <span>(pn)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ws"></span> Samoa <span>(ws)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-sb"></span> Solomon Islands <span>(sb)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tk"></span> Tokelau <span>(tk)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-to"></span> Tonga <span>(to)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tv"></span> Tuvalu <span>(tv)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-vu"></span> Vanuatu <span>(vu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-wf"></span> Wallis and Futuna <span>(wf)</span></label>
                </div>
              </div>
            </div>
            <br>
            <div class="country-group">
              <h3>Other areas</h3>
              <div class="row">
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-bv"></span> Bouvet Island <span>(bv)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-io"></span> British Indian Ocean Territory <span>(io)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-ic"></span> Canary Islands <span>(ic)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-catalonia"></span> Catalonia <span>(catalonia)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-england"></span> England <span>(england)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-eu"></span> European Union <span>(eu)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tf"></span> French Southern Territories <span>(tf)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gg"></span> Guernsey <span>(gg)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-hm"></span> Heard Island and McDonald Islands <span>(hm)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-im"></span> Isle of Man <span>(im)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-je"></span> Jersey <span>(je)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-kurdistan"></span> Kurdistan <span>(kurdistan)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-scotland"></span> Scotland <span>(scotland)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-somaliland"></span> Somaliland <span>(somaliland)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-gs"></span> South Georgia and the South Sandwich Islands <span>(gs)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-tibet"></span> Tibet <span>(tibet)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-um"></span> United States Minor Outlying Islands <span>(um)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-wales"></span> Wales <span>(wales)</span></label>
                </div>
                <div class="col-md-8 col-lg-4">
                  <label> <span class="flag flag-zanzibar"></span> Zanzibar <span>(zanzibar)</span></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  